<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    function closeDrawer(ctx, next) {
      app.closeDrawer();
      next();
    }

    function loggedIn(ctx, next){
      if (app.user) {
        next();
      } else {
        app.$.toast.text = 'Usuário não autorizado! Entre em contato com o administrador do Sistema';
        app.$.toast.show();
        page.redirect('/login');        
      }  
    }

    // Routes
    page('*', scrollToTop, closeDrawer, function(ctx, next) {
      next();
    }); 

    page('/', function() {
      if(app.user){
        app.changeView({
          title: 'Sapiens',
          state: 'normal',
          route: 'home',
        });
      }else{
        app.route = 'login';
      }      
    });

    page(app.baseUrl, function() {
      if (!app.user) {        
        app.route = 'login';
      }  
    });

    page('/master', scrollToTop, function() {
      app.route = 'master';
    });

    page('/login', scrollToTop, function() {
      app.route = 'login';
    });

    page('/disciplinas', scrollToTop, function() {
      app.changeView({
          title: 'Minhas disciplinas',
          state: 'normal',
          route: 'disciplinas'
      });

      document.querySelector('sapiens-disciplinas').selecionada = 0;
    });

    page('/projetos', scrollToTop, function() {
      app.changeView({
          title: 'Meus projetos',
          state: 'normal',
          route: 'projetos',
          viewElement: 'sapiens-projetos' // saveAtion
      });      
    });

    page('/atividades', scrollToTop, function() {
      app.changeView({
          title: 'Minhas atividades',
          state: 'normal',
          route: 'atividades'
      });
    });

    page('/diren/turmas', scrollToTop, function() {
      app.changeView({
          title: 'Turmas',
          state: 'normal',
          route: 'turmas'
      });

      document.querySelector('sapiens-turmas').set('selecionada', 0);
    });  

    page('/diren/docentes', scrollToTop, function() {
      app.changeView({
          title: 'Docentes',
          state: 'normal',
          route: 'docentes'
      });
    }); 

    page('/diren/planos', scrollToTop, function() {
      app.changeView({
          title: 'Planos de Ensino',
          state: 'normal',
          route: 'diren-planos'
      });

      document.querySelector('iron-list').fire('iron-resize');
      document.querySelector('sapiens-diren-planos').set('selecionada', 0);
    });     


   
    // 404
    page('*', function() {
      app.$.toast.text = 'Não podemos encontrar: ' + window.location.href  + '. Você será redirecionado para sua página Home';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
