<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Sapiens by evandrofalleiros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Sapiens</h1>
      <h2 class="project-tagline"></h2>
    </section>
  
  </body>
</html>
<p>Teste</p>
<p>Teste</p>
=======
<!doctype html><html lang=""><head><script>'https:'!==window.location.protocol&&(window.location.protocol='https')</script><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="generator" content="Polymer Starter Kit"><title>Sapiens</title><meta name="theme-color" content="#2E3AA1"><link rel="manifest" href="manifest.json"><meta name="msapplication-TileColor" content="#3372DF"><meta name="mobile-web-app-capable" content="yes"><meta name="application-name" content="PSK"><link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><meta name="apple-mobile-web-app-title" content="Polymer Starter Kit"><link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png"><meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png"><link rel="stylesheet" href="styles/main.css"><script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script><link rel="import" href="elements/elements.html"><style is="custom-style" include="shared-styles" async=""></style></head><body unresolved=""><span id="browser-sync-binding"></span><div id="loading"><img src="/images/loading.svg"></div><template is="dom-bind" id="app"><firebase-auth id="firebaseLogin" user="{{user}}" status-known="{{statusKnown}}" location="https://blazing-inferno-2038.firebaseio.com/" provider="google" on-login="loginHandler" on-error="errorHandler"></firebase-auth><paper-drawer-panel id="paperDrawerPanel"><paper-scroll-header-panel drawer="" fixed=""><paper-toolbar id="drawerToolbar"><span class="paper-font-title">Menu</span></paper-toolbar><paper-menu class="list" attr-for-selected="data-route" selected="{{route}}"><a data-route="home" href="{{baseUrl}}"><iron-icon icon="home"></iron-icon><span>Home</span></a><template is="dom-if" if="{{active}}"><a data-route="disciplinas" href="{{baseUrl}}disciplinas" hidden$="{{!user.servidor.docente}}"><iron-icon icon="book"></iron-icon><span>Minhas disciplinas</span></a></template></paper-menu><div hidden$="{{!user.servidor.pedag}}"><paper-subheader>PEDAG</paper-subheader><paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" hidden$="{{!user.servidor.pedag}}"><template is="dom-if" if="{{active}}"><a data-route="diren-planos" href="/diren/planos"><iron-icon icon="description"></iron-icon><span>Planos de Ensino</span></a></template></paper-menu></div><div hidden$="{{!user.servidor.diren}}"><paper-subheader>DIREN</paper-subheader><paper-menu class="list" attr-for-selected="data-route" selected="{{route}}" hidden$="{{!user.servidor.diren}}"><template is="dom-if" if="{{active}}"><a data-route="turmas" href="/diren/turmas"><iron-icon icon="dashboard"></iron-icon><span>Turmas</span></a> <a data-route="carga-docente" href="/diren/cargadocente"><iron-icon icon="trending-up"></iron-icon><span>Carga horária docente</span></a> <a data-route="diren-planos" href="/diren/planos"><iron-icon icon="description"></iron-icon><span>Planos de Ensino</span></a></template></paper-menu></div><div hidden$="{{!user.master}}"><paper-subheader>ADMIN</paper-subheader><paper-menu class="list" attr-for-selected="data-route" selected="{{route}}"><template is="dom-if" if="{{active}}"><a data-route="master" href="/master"><iron-icon icon="assignment"></iron-icon><span>Entrada de dados</span></a></template></paper-menu></div></paper-scroll-header-panel><paper-scroll-header-panel main="" id="headerPanelMain" fixed=""><paper-toolbar id="mainToolbar"><paper-icon-button id="paperToggle" icon="menu" hidden="{{viewing}}" paper-drawer-toggle=""></paper-icon-button><div id="leftButtonsContainer"></div><span class="space"></span><div id="actionButtonsContainer"></div><paper-menu-button horizontal-align="right"><paper-icon-button src="{{user.google.profileImageURL}}" class="dropdown-trigger user-image" hidden$="{{!user}}"></paper-icon-button><paper-icon-button icon="social:person" class="dropdown-trigger" hidden$="{{user}}"></paper-icon-button><paper-menu class="dropdown-content"><paper-item on-tap="login" hidden$="{{user}}">Login</paper-item><paper-item on-tap="logout" hidden$="{{!user}}">Logout</paper-item></paper-menu></paper-menu-button><div class="middle middle-container center horizontal layout"><div class="app-name">{{activeTitle}}</div></div></paper-toolbar><div class="content"><neon-animated-pages attr-for-selected="data-route" selected="{{route}}" entry-animation="fade-in-animation" exit-animation="fade-out-animation"><neon-animatable data-route="master"><sapiens-master class="view" user="{{user}}"></sapiens-master></neon-animatable><neon-animatable data-route="home"><sapiens-home class="view" user="{{user}}"></sapiens-home></neon-animatable><neon-animatable data-route="login"><sapiens-login class="view"></sapiens-login></neon-animatable><neon-animatable data-route="disciplinas"><sapiens-disciplinas class="view" user="{{user}}"></sapiens-disciplinas></neon-animatable><neon-animatable data-route="turmas"><sapiens-turmas class="view" user="{{user}}"></sapiens-turmas></neon-animatable><neon-animatable data-route="carga-docente"><sapiens-carga-docente class="view"></sapiens-carga-docente></neon-animatable><neon-animatable data-route="diren-planos"><sapiens-diren-planos class="view"></sapiens-diren-planos></neon-animatable></neon-animated-pages></div></paper-scroll-header-panel></paper-drawer-panel><paper-toast id="toast"><span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span></paper-toast></template><script src="scripts/app.js"></script></body></html>
>>>>>>> sapiens/master
