
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../sapiens-pdf/sapiens-pdf.html">

<dom-module id="sapiens-modelo-plano">
  <template>
    <sapiens-pdf id="pdf" doc-definition="{{docDefinition}}"></sapiens-pdf>

    <iron-ajax
      auto
      url="/data/images.json"
      handle-as="json"
      debounce-duration="300"
      last-response="{{imagens}}">
    </iron-ajax>      
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-modelo-plano',

      properties: {
        plano: {
          type: Object,
          notify: true,
          observer: '_planoChanged'
        },

        imagens: {
          type: Object,
          notify: true
        }
      },

      _planoChanged: function(plano){
        if(!plano.isEmpty()){

          /* Modelo do plano disponível em
           * https://docs.google.com/document/d/1VoIOjzUOtIbc4VYpYMeCg4S19l8SOlcTMdAG1DbtBjU/
           */

          /* Definição cabeçalho, rodapé e margens */
          var cabecalho = this.imagens.cabecalho;
          var rodape = this.imagens.rodape;

          this.docDefinition.pageMargins = [80, 160, 40, 120];

          this.docDefinition.styles ={
            section: {
               alignment: 'center', 
               bold: true,
               fillColor: '#e3e3e3'
            },

            sectionTitle: {
               alignment: 'left', 
               bold: true,
               fillColor: '#e3e3e3'
            },

            sectionTitleNoBg: {          
             alignment: 'left', 
             bold: true
            }
          }

          this.docDefinition.header = function() {
            return {
              columns: [
                { 
                  image: cabecalho,
                  margin: [80, 20, 0, 0],
                  width: 480         
                }
              ]
            }
          };

          this.docDefinition.footer = function() {
            return {
              columns: [
                { 
                  image: rodape,
                  margin: [77, 50, 0, 80],
                  width: 480          
                }
              ]
            }
          };

          this.docDefinition.content = [];

          /* Definição do conteúdo do plano de ensino */

          /* Título */
          this.docDefinition.content.push({ 
            text: 'PLANO DE ENSINO', 
            fontSize: 14,
            bold: true,
            margin: [0, -20, 0, 20],
            alignment: 'center' 
          });

          /* Seção 01 - Identificação */
          this.docDefinition.content.push({text: 'IDENTIFICAÇÃO'});

          /* Seção 02 - Ementa */
          this.docDefinition.content.push({    
            fontSize: 10, 
            margin: [0, 0, 0, 20],                       
            table: {
              widths: [ 40, 280, 125],
              body: [
                [ { text: '02', style: 'section' }, { text: 'EMENTA', colSpan: 2, style: 'sectionTitle'}, {} ],
                [ { text: plano.disciplina.ementa, colSpan: 3, alignment: 'justify'}, '', '' ]              
              ] 
            }
          });

          this.docDefinition.content.push({text: 'objetivo-geral'});
          this.docDefinition.content.push({text: 'objetivos-especificos'});
          this.docDefinition.content.push({text: 'avaliacao'});
          this.docDefinition.content.push({text: 'recuperacao'});

          /* Seção 07 - Bibliografia */
          var bibliografiaBody = [
            [ { text: '07', style: 'section' }, { text: 'REFERÊNCIAS', colSpan: 2, style: 'sectionTitle'}, {} ],
            [{text: "BIBLIOGRAFIA BÁSICA", bold: true, colSpan: 3}, {}, {}],
            [{text: plano.disciplina['bibliografia-basica'], colSpan: 3}, {}, {}],
            [{text: "BIBLIOGRAFIA COMPLEMENTAR", bold: true, colSpan: 3}, {}, {}],
            [{text: plano.disciplina['bibliografia-complementar'], colSpan: 3}, {}, {}]
          ];
          
          this.docDefinition.content.push({    
            fontSize: 10, 
            margin: [0, 0, 0, 20],                       
            table: {
              widths: [ 40, 280, 125],
              body: bibliografiaBody 
            }
          });
        }
      },

      prepare: function(){
        /* Seção 01 - Identificação */
        this.docDefinition.content[1] = {
          fontSize: 10, 
          margin: [0, 0, 0, 20],       
          table: {
            widths: [ 40, 280, 125],
            body: [
              [ { text: '01', style: 'section' }, { text: 'IDENTIFICAÇÃO', colSpan: 2, style: 'sectionTitle'}, {} ],
              [ { text:'UNIDADE CURRICULAR: ' + this.plano.disciplina.disciplina, colSpan: 2}, '', 'CÓD: ' + this.plano.disciplina.codigo],
              [{ text: 'CURSO: ' + this.plano.disciplina.curso.modalidade + ' em ' + this.plano.disciplina.curso.nome, colSpan: 2}, '', {text: 'TURMA: ' + this.plano.disciplina.turma.nome + ' / ' + this.plano.disciplina.turma.periodo}],
              [{ text: 'CARGA HORÁRIA TOTAL: ' + (~~this.plano.disciplina.aulas * this.domHost.semanas) + '\n' + 'NÚMERO DE SEMANAS: ' + this.domHost.semanas, colSpan: 2}, '', {text: 'AULAS PRÁTICAS: ' + this.plano.praticas + '\n' + 'AULAS TEÓRICAS: ' + this.plano.teoricas}],              
              [{text: 'DOCENTE: ' + this.plano.docente, colSpan: 3}, '', '']
              
            ] 
          }
        };

        /* Seção 03 - Objetivo Geral */
        this.docDefinition.content[3] = {    
          fontSize: 10, 
          margin: [0, 0, 0, 20],                       
          table: {
            widths: [ 40, 280, 125],
            body: [
              [ { text: '03', style: 'section' }, { text: 'OBJETIVO GERAL DA UNIDADE CURRICULAR', colSpan: 2, style: 'sectionTitle'}, {} ],
              [ { text: this.plano.objetivoGeral || '', colSpan: 3, alignment: 'justify'}, '', '' ]              
            ] 
          }
        };

        /* Seção 04 - Objetivo Geral */
        this.docDefinition.content[4] = {    
          fontSize: 10, 
          margin: [0, 0, 0, 20],                       
          table: {
            widths: [ 40, 280, 125],
            body: [
              [ { text: '04', style: 'section' }, { text: 'OBJETIVOS ESPECÍFICOS DA UNIDADE CURRICULAR', colSpan: 2, style: 'sectionTitle'}, {} ],
              [ { text: this.plano.objetivosEspecificos || '', colSpan: 3, alignment: 'justify'}, '', '' ]              
            ] 
          }
        };

        /* Seção 05 - Avaliação */
        var avaliacoesPrimeiroBimestre = this.plano.avaliacoesPrimeiroBimestre || [];
        var avaliacoesSegundoBimestre = this.plano.avaliacoesSegundoBimestre || [];
        var observacoesPrimeiroBimestre = this.plano.observacoesPrimeiroBimestre;
        var observacoesSegundoBimestre = this.plano.observacoesSegundoBimestre;

        var avaliacoesBody = [
          [
            { text: '05', style: 'section' }, 
            { text: 'AVALIAÇÃO DA APRENDIZAGEM', colSpan: 4, style: 'sectionTitle'}, 
            {}, {}, {} 
          ]
        ];

        var rowSpan1Bim = observacoesPrimeiroBimestre ? avaliacoesPrimeiroBimestre.length + 2 : avaliacoesPrimeiroBimestre.length + 1;        

        avaliacoesBody.push([
          { text: '1°BIM', rowSpan: rowSpan1Bim, style: 'sectionTitleNoBg' },
          { text: 'Instrumentos de avaliação', style: 'sectionTitleNoBg', colSpan: 2 }, {},
          { text: 'Peso', style: 'sectionTitleNoBg', alignment: 'center' },
          { text: 'Valor', style: 'sectionTitleNoBg', alignment: 'center' }
        ]);

        avaliacoesPrimeiroBimestre.forEach(function(avaliacao){
          var peso = ~~(avaliacao.peso);
          
          avaliacoesBody.push([
            {},
            { text: avaliacao.sigla },            
            { text: avaliacao.instrumento },
            { text: peso.toFixed(2),  alignment: 'center'  },
            { text: '10.00',  alignment: 'center'  }
          ]);
        });

        if (observacoesPrimeiroBimestre){
          avaliacoesBody.push([
            {},
            { text: 'Observ.', style: 'sectionTitleNoBg' },            
            { text: observacoesPrimeiroBimestre, colSpan: 3},
            {},
            {}
          ]); 
        }

        var rowSpan2Bim = observacoesSegundoBimestre ? avaliacoesSegundoBimestre.length + 2 : avaliacoesSegundoBimestre.length + 1;  

        avaliacoesBody.push([
          { text: '2°BIM', rowSpan: rowSpan2Bim, style: 'sectionTitleNoBg' },
          { text: 'Instrumentos de avaliação', style: 'sectionTitleNoBg', colSpan: 2 }, {},
          { text: 'Peso', style: 'sectionTitleNoBg', alignment: 'center' },
          { text: 'Valor', style: 'sectionTitleNoBg', alignment: 'center' }
        ]);

        avaliacoesSegundoBimestre.forEach(function(avaliacao){
          var peso = ~~(avaliacao.peso);
          var maximo = ~~(avaliacao.maximo);

          avaliacoesBody.push([
            {},
            { text: avaliacao.sigla },            
            { text: avaliacao.instrumento },
            { text: peso.toFixed(2),  alignment: 'center'  },
            { text: '10.00',  alignment: 'center'  }
          ]);
        });

        if (observacoesSegundoBimestre){
          avaliacoesBody.push([
            {},
            { text: 'Observ.', style: 'sectionTitleNoBg' },            
            { text: observacoesSegundoBimestre, colSpan: 3},
            {},
            {}
          ]); 
        }

        this.docDefinition.content[5] = {    
          fontSize: 10, 
          margin: [0, 0, 0, 20],                       
          table: {
            widths: [ 40, 50, 250, 42, 45],
            body: avaliacoesBody
          }
        }; 

        /* Seção 06 - Recuperação */
        this.docDefinition.content[6] = {    
          fontSize: 10, 
          margin: [0, 0, 0, 20],                       
          table: {
            widths: [ 40, 280, 125],
            body: [
              [ { text: '06', style: 'section' }, { text: 'RECUPERAÇÃO DA APRENDIZAGEM', colSpan: 2, style: 'sectionTitle'}, {} ],
              [ { text: this.plano['recuperacao'] || '', colSpan: 3, alignment: 'justify'}, '', '' ]             
            ] 
          }
        }; 

        /* Seção 08 - Metodologia  */
        var topicos = this.plano.topicos;

        var topicosBody = [
          [ 
            { text: '08', style: 'section' }, 
            { text: 'DETALHAMENTO DA PROPOSTA DE TRABALHO', colSpan: 4, style: 'sectionTitle'}, 
            {}, {}, {}
          ],[
            { text: 'N° AULAS', rowSpan: 2, style: 'sectionTitle'},
            { text: 'CONTEÚDO A SER DESENVOLVIDO', rowSpan: 2, style: 'sectionTitle'},
            { text: 'METODOLOGIA', colSpan: 3, style: 'sectionTitle', alignment: 'center'},
            {}, {}
          ],[
            {}, {},
            { text: 'Técnicas de Ensino', style: 'sectionTitle'},
            { text: 'Recursos de ensino', style: 'sectionTitle'},
            { text: 'Instrumentos de Avaliação', style: 'sectionTitle'}
          ]
        ];

        topicos.forEach(function(topico){
          topicosBody.push([
            { text: topico.aulas, alignment: 'center' },
            { text: topico.topico },
            { text: topico.tecnicasEnsino ? topico.tecnicasEnsino.join(';') : ''},   
            { text: topico.recursosEnsino ? topico.recursosEnsino.join(';') : '' },
            { text: topico.instrumentosAvaliacao ? topico.instrumentosAvaliacao.join('; ') : '' }                      
          ]);          
        });

        this.docDefinition.content[8] = {    
          fontSize: 10, 
          margin: [0, 0, 0, 20],                       
          table: {
            widths: [ 40, 178, 70, 70, 70],
            body: topicosBody
          }
        };

        /* ASSINATURA E APROVAÇÃO */
        this.docDefinition.content[9] = { 
          text: '__________________________________________', 
          margin: [0, 30, 0, 0],
          alignment: 'center' 
        };

        this.docDefinition.content[10] = { 
          text: [ 
            {text: this.plano.docente},
            {text: '\nDocente do Ensino Básico, Técnico e Tecnológico\n', fontSize: 10 }
          ], 
          alignment: 'center' 
        };

        this.docDefinition.content[11] = {    
          fontSize: 10, 
          margin: [0, 30, 0, 0], 
          table: {
            widths: [ 100, 205, 35, 100],
            body: [
              [ 
                { text: 'Revisado e recomendado por', bold: true }, '', 
                { text: 'Data', bold: true }, 
                { text: '____/____/________', alignment: 'center' }
              ],
              [ 
                { text: 'Aprovado por', bold: true }, '', 
                { text: 'Data', bold: true }, 
                { text: '____/____/________', alignment: 'center' }
              ] 
            ]
          }
        };


      },

      view: function(){
        this.prepare();
        this.$.pdf.open();   
      },

      print: function(){
        this.prepare();
        this.$.pdf.print();
      }
    });
  })();
  </script>
</dom-module>
