<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sapiens-disciplinas-data">
  <template>
    <firebase-collection
      order-by-child="docente"
      equal-to="{{user.key}}"
      location="https://blazing-inferno-2038.firebaseio.com/planos"
      data="{{planos}}">
    </firebase-collection>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-disciplinas-data',

      properties: {
        user: {
          type: Object,
          notify: true,
          observer: '_userChanged'
        },

        docente: {
          type: String,
          observer: '_docenteChanged'
        },

        disciplinasDocente: {
          type: Array,
          notify: true,
          value: []
        },

        disciplinasDocenteComFiltro: {
          type: Array,
          notify: true,
          value: []
        },

        planos: {
          type: Array,
          notify: true,
          value: []
        }
      },

      _userChanged: function(user){
        if (user){
          this.set('docente', user.key);
        }
      },

      _docenteChanged: function(docente){
        var ref = new Firebase('https://blazing-inferno-2038.firebaseio.com/distribuicao');
        var refCursos = new Firebase('https://blazing-inferno-2038.firebaseio.com/cursos');
        var refTurmas = new Firebase('https://blazing-inferno-2038.firebaseio.com/turmas');
        var docente = this.user.key;        
        var self = this;
        var ano = '2016/2';
 
        ref.on('value', function(snapshotDistribuicao){
          if(snapshotDistribuicao.exists()){
            var distribuicao = snapshotDistribuicao.val().toArray();
            self.set('disciplinasDocente', []);
            self.set('disciplinasDocenteComFiltro', []);

            // verificar distribuicao do docente
            // e armazenas código das disciplinas
            // distribuídas para um docente
            distribuicao.forEach(function(turma){
              var turmaKey = turma.key;            

              // remover a chave para utilizar a função toArray 
              delete turma.key;

              var disciplinas = turma.toArray();           

              disciplinas.forEach(function(disciplina){
                // console.log(disciplina.docente);
                // console.log(docente);
                if (disciplina.docente === docente){
                  refTurmas.child(turmaKey).once('value', function(snapshotTurma){
                    var turma = snapshotTurma.val();
                    var objDisciplina = {};

                    refCursos
                      .child(turma.curso)
                      .once('value').then(function(snapshotCurso) {
                        var curso = snapshotCurso.val();
                        var d = curso.matriz[disciplina.disciplina];                        
                        d.key = disciplina.disciplina;
                        d.turma = turma;
                        d.turma.key = turmaKey;
                        d.curso = { 
                          key: turma.curso,
                          nome: curso.nome,
                          modalidade: curso.modalidade
                        };
                        
                        self.push('disciplinasDocente',{
                          disciplina: d,
                          curso: curso.nome,
                          turma: turma
                        });     

                        if (turma.ano === ano){
                          self.push('disciplinasDocenteComFiltro',{
                            disciplina: d,
                            curso: curso.nome,
                            turma: turma
                          }); 
                        }
                      });                     
                  });     

                }
              });
            });
          }
        });
      }
    });
  })();
  </script>
</dom-module>
