<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sapiens-disciplinas-docente">
  <template>
    <style>
      .disciplinas-conteiner{
        @apply(--layout-vertical);
      }

      paper-card{
          @apply(--layout-flex);
          margin-bottom: 16px;  
      }

      .title {
        margin-bottom: 16px;          
      }

      .title .medium {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 0px;
      }

      .title .small {
        font-size: 16px;
        font-weight: 500;
      }

      #filtro{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 300px;
        position: fixed;
        left: auto;
        right: 0;
        top: 65px;
        height: 100%;
        background: #FFFFFF;  
        border-left: 1px solid rgba(0, 0, 0, 0.1);        
      }

      #filtro .content section{
        padding: 8px 24px 32px 24px;
      }

      .content section{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 8px;
        padding-bottom: 48px; 
      }

      .content section:last-of-type{
      border: none;
      }

      .drawer-title h1{
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        color: #727272;         
        font-size: 16px;
        font-weight: 400;
        line-height: 64px;        
      padding: 0 24px;
      }

      .section-title h1{
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      #container-lista-disciplinas{
        @apply(--layout-flex);
        margin-left: 16px;
        width: calc(100% - 332px);
      }
    </style>

   <!--  <p>[[user.google.displayName]],  a seguir, listamos a suas disciplinas e algumas informações, como carga horária.</p>

    <sapiens-circle-chart max="40" value="33">
    </sapiens-circle-chart> -->

    <!-- Filtro de turmas -->

      <div id="filtro">
        <div class="drawer-title">
          <h1>Filtrar Disciplinas</h1>
        </div>

        <div class="content">
          <section>
            <div class="section-title">
              <h1>Ano/Semestre</h1>
            </div>

            <paper-dropdown-menu label="Selecione o ano">
                <paper-menu class="dropdown-content" selected="{{filtroAno}}" attr-for-selected="value" >
                  <paper-item value="todos">Todos</paper-item>
                  <paper-item value="2016/1">2016/1</paper-item>
                  <paper-item value="2016/2">2016/2</paper-item>
                  <paper-item value="2017/1">2017/1</paper-item>
                  <paper-item value="2017/2">2017/2</paper-item>
                  <paper-item value="2018/1">2018/1</paper-item>
                  <paper-item value="2018/2">2018/2</paper-item>
              </paper-menu>
            </paper-dropdown-menu>          
          </section>

          <section>
            <div class="section-title">
              <h1>Nome da Disciplina</h1>
              <paper-input 
                label="Nome da disciplina"
                on-keyup="disciplinaChanged"></paper-input>
            </div>  
          </section>    
        </div>
      </div>

    <div id="container-lista-disciplinas" class="disciplinas-container">
      <template is="dom-repeat" items="[[disciplinasDocenteComFiltro]]" as="distribuicao">
        <paper-card>
          <div class="card-content">
            <div class="title">
                <div class="medium">{{distribuicao.disciplina.disciplina}}</div>
                <div class="smal">{{distribuicao.curso}} - <span>{{distribuicao.disciplina.turma.nome}}</span> | <span>{{distribuicao.disciplina.turma.ano}}</span></div>
            </div>                  
          </div>
          <div class="card-content">
            <p><strong>Carga horária semanal: </strong> <span>{{distribuicao.disciplina.aulas}}</span></p>
            <p><strong>Ementa: </strong> <span>{{distribuicao.disciplina.ementa}}</span></p>
          </div>

          <div class="card-actions">
            <paper-button on-tap="selecionarPlano">Plano de Ensino</paper-button>
          </div>
        </paper-card>
      </template>
    </div>
  </template>

  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-disciplinas-docente',

      properties: {
        user: {
          type: Object,
          notify: true
        },

        disciplinasDocente: {
          type: Array,
          notify: true,
          value: []
        },

        disciplinasDocenteComFiltro: {
          type: Array,
          notify: true,
          value: []
        },

        plano: {
          type: Object,
          notify: true
        },

        planos: {
          type: Array,
          notify: true
        },

        disciplina: {
          type: Object,
          notify: true
        },

        filtroAno: {
          type: String,
          value: '2016/2',
          notify: true
        }
      },

      observers: [
        'filtroAnoChanged(filtroAno)'
      ],

      filtroAnoChanged: function(filtro){
        this.set('disciplinasDocenteComFiltro', this.filtrarDisciplinas(filtro));   
      },

      filtrarDisciplinas: function(filtro){
        var disciplinas = this.disciplinasDocente;

        if (disciplinas){
          if (filtro === 'todos'){
            return disciplinas;
          }

          return disciplinas.filter(function (disciplina) {
            return disciplina.turma.ano === filtro;
          });
        }
      },

      disciplinaChanged: function(evt){
          this.set('filtroAno', 'todos');
          var disc = this.disciplinasDocente.filter(function (d) {
            var disciplina = d.disciplina.disciplina.toLowerCase();
            var filtro = evt.target.value.toLowerCase();

            return disciplina.indexOf(filtro) != -1;
          });

          this.set('disciplinasDocenteComFiltro', disc);
      },

      selecionarPlano: function(evt){
        var disciplina = evt.model.get('distribuicao.disciplina');
        var planoEncontrado = {};
        
        /* Seleciona a primeira aba do plano de ensino */
        this.domHost.$.plano.secao = 0;
        this.plano = {};

        this.planos.forEach(function(p){
          if (p.curso === disciplina.curso.key && 
              p.disciplina === disciplina.key && 
              p.turma === disciplina.turma.key){     
          
            planoEncontrado = p.clone();
          
            return;
          }
        });

        planoEncontrado.disciplina = disciplina;

        if(!planoEncontrado.topicos){
          // plano ainda não existe na base de dados
          // colocar todos os conteúdos da ementa como tópicos no plano
          
          var ementas = planoEncontrado.disciplina.ementa.split(';');
          planoEncontrado.topicos = [];         

          ementas.forEach(function(topico, index){
            if(!planoEncontrado.topicos[index]){
              planoEncontrado.topicos[index] = {};
            }
            
            planoEncontrado.topicos[index].topico = topico;              
            planoEncontrado.topicos[index].aulas = planoEncontrado.topicos[index].aulas || 0;             
           
          }); 
        }

        for (var i = 0; i < planoEncontrado.topicos.length; i += 1){
          planoEncontrado.topicos[i].tecnicasEnsino = planoEncontrado.topicos[i].tecnicasEnsino || [];
          planoEncontrado.topicos[i].recursosEnsino = planoEncontrado.topicos[i].recursosEnsino || []; 
          planoEncontrado.topicos[i].instrumentosAvaliacao = planoEncontrado.topicos[i].instrumentosAvaliacao || [];
        }

        this.set('plano', planoEncontrado);
        this.domHost.proximo();
      }
    });
  })();
  </script>
</dom-module>