<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="sapiens-modelo-plano.html">
<link rel="import" href="sapiens-composicao-avaliacao/sapiens-composicao-avaliacao.html">

<dom-module id="sapiens-plano-ensino">
  <template>
    <style>
      paper-card{
        margin-bottom: 16px;
      }

      neon-animated-pages section{
        padding: 16px;
      }

      neon-animated-pages section paper-card{
        width: 100%;
      }

      .limite{
        color: #FF4081;
      }

      /* TABLE STYLE */

      table{
        padding: 0px;
        width: 100%;
        border-collapse: collapse;
        font-size: 13px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 16px;
      }

      table thead {
        padding-bottom: 3px;
      }

      table tbody tr {
        position: relative;
        height: 48px;
        -webkit-transition-duration: 0.28s;
        transition-duration: 0.28s;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition-property: background-color;
        transition-property: background-color;
      }

      table td,
      table th {
        padding: 0 18px 0 18px;
        text-align: left;
      }

      table td:first-of-type,
      table th:first-of-type {
        padding-left: 26px;
      }

      table td:last-of-type,
      table th:last-of-type {
        padding-right: 26px;
      }

      table td {
        height: 48px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 12px;
        padding-top: 12px;
        box-sizing: border-box;
      }

      table th {
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0;
        color: rgba(0, 0, 0, 0.54);
        height: 48px;
        font-size: 12px;
        padding-bottom: 8px;
        box-sizing: border-box;
        width: 40px;
      }

      table tbody tr:hover{
        background: #EEEEEE;
      }

      .numero-aulas{
        width: 50px;
      }

      .header{
        @apply(--layout-horizontal);
        background: #FFFFFF;
        padding: 26px;
      }

      .header .table-title{        
        font-size: 20px;
        font-weight: 400;
        margin: 0;        
      }

      .header paper-icon-button{
        top: -8px;
        right: -8px;
      }

      .conteudo{
        transition: all ease-in-out .2s;
      }

      .conteudo:hover{
        cursor: pointer;
      }

      .conteudo:hover,
      .selecionada .conteudo{
        box-shadow: inset 4px 0px rgba(0, 0, 0, 0.4);
        transition: all ease-in-out .3s;     
      }

      .selecionada{
        background: #EEEEEE;
      }

      #detalhamento-metodologia{
        margin-top: 16px;
      }

      h1.subtitle{
        border-bottom: solid 1px rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.4);
        font-size: 14px;
        font-weight: 400;
        padding: 8px;         
        text-transform: uppercase;
      }

      h1.subtitle ~ p{
        padding-left: 32px;
      }

      #toastWarning {
        --paper-toast-background-color: orange;
        --paper-toast-color: white;
      }
      
      #toastError {
        --paper-toast-background-color: red;
        --paper-toast-color: white;
      }
    </style>

    <sapiens-toolbar-actions>
      <div class="left">
        <paper-icon-button icon="arrow-back" on-tap="back"></paper-icon-button> 
      </div>
      <div class="right">
        <paper-icon-button id="copiar-plano" icon="content-copy" on-tap="copy"></paper-icon-button>
        <paper-tooltip for="copiar-plano" position="bottom">Copiar dados deste plano</paper-tooltip>

        <paper-icon-button id="colar-plano" icon="content-paste" on-tap="paste"></paper-icon-button>
        <paper-tooltip for="colar-plano" position="bottom">Colar dados de outro plano</paper-tooltip>

        <paper-icon-button id="visualizar-plano" icon="open-in-new" on-tap="view"></paper-icon-button>
        <paper-tooltip for="visualizar-plano" position="bottom">Visualizar plano de ensino</paper-tooltip>

        <paper-icon-button id="salvar-plano" icon="save" on-tap="save"></paper-icon-button>
        <paper-tooltip for="salvar-plano" position="bottom">Salvar plano</paper-tooltip>          

        <paper-icon-button id="enviar-plano" icon="send" on-tap="send"></paper-icon-button>
        <paper-tooltip for="enviar-plano" position="bottom">Enviar plano à chefia imediata</paper-tooltip>
      </div>
    </sapiens-toolbar-actions>

    <sapiens-modelo-plano id="plano" plano="{{plano}}"></sapiens-modelo-plano>
    
    <sapiens-email id="email" to="diren.dr@ifms.edu.br,evandro.falleiros@ifms.edu.br"></sapiens-email>

    <paper-tabs selected="{{secao}}" scrollable>
      <paper-tab>Descrição</paper-tab>
      <paper-tab>Ementa</paper-tab>
      <paper-tab>Referências</paper-tab>
      <paper-tab>Objetivos</paper-tab>
      <paper-tab>Avaliação</paper-tab>
      <paper-tab>Recuperação</paper-tab>
      <paper-tab>Metodologia</paper-tab>
    </paper-tabs>

    <neon-animated-pages selected="{{secao}}" class="vertical layout">
      <section id="descricao">
        <paper-card heading="Descrição">
          <div class="card-content">
            <div><strong>Disciplina: </strong><span>{{plano.disciplina.disciplina}}</span></div> 
            <div><strong>Carga Horária Semanal: </strong><span>{{plano.disciplina.aulas}}</span></div>
            <div class$="{{limite}}">
              <strong>Carga Horária Total: </strong>
              <span>{{plano.aulas}}/
              <span>{{cargaTotal(plano.disciplina.aulas)}}</span>
            </div> 
            <div><strong>Quantidade de aulas atribuídas na metodologia: </strong> [[plano.aulasAtribuidas]] de [[plano.maximoAulas]]</div>   
            <div><strong>Número de Semanas: </strong><span>{{semanas}}</span></div>   
            <div><strong>Turma: </strong><span>{{plano.disciplina.turma.nome}}</span></div>   
            <div><strong>Ano: </strong><span>{{plano.disciplina.turma.ano}}</span></div> 
            <div><strong>Semestre: </strong><span>{{plano.disciplina.turma.semestre}}</span>º semestre</div>     
            <div><strong>Período: </strong><span>{{plano.disciplina.turma.periodo}}</span></div>     
          </div>
        </paper-card>

        <paper-card heading="Sugestões para correção" hidden$="{{!plano.correcoes}}">
          <div class="card-content">
            <ul>
              <li hidden$="{{!plano.correcoes.objetivoGeral}}">
                <strong>Objetivo geral: </strong>
                <span>{{plano.correcoes.objetivoGeral}}</span>
              </li>
              <li hidden$="{{!plano.correcoes.objetivosEspecificos}}">
                <strong>Objetivos específicos: </strong>
                <span>{{plano.correcoes.objetivosEspecificos}}</span>
              </li>
              <li hidden$="{{!plano.correcoes.avaliacoes}}">
                <strong>Avaliações: </strong>
                <span>{{plano.correcoes.avaliacoes}}</span>
              </li>
              <li hidden$="{{!plano.correcoes.recuperacao}}">
                <strong>Recuperação: </strong>
                <span>{{plano.correcoes.recuperacao}}</span>
              </li>
              <li hidden$="{{!plano.correcoes.metodologia}}">
                <strong>Metodologia: </strong>
                <span>{{plano.correcoes.metodologia}}</span>
              </li>
            </ul>
          </div>
        </paper-card>

      </section>

      <section id="ementa">
        <paper-card heading="Ementa">
          <div class="card-content">
            <ul>
              <template is="dom-repeat" items="{{ementas}}" as="ementa">
                <li>{{ementa}}</li>            
              </template>            
            </ul>
          </div>
        </paper-card>        
      </section>

      <section id="referencias">
        <paper-card heading="Bibliografia Básica">
          <div class="card-content">
            <template is="dom-repeat" items="{{bibliografiaBasica}}">
              <div class="item-bibliografia">{{item}}</div>  
            </template>
          </div>
        </paper-card> 

        <paper-card heading="Bibliografia Complementar">
          <div class="card-content">
            <template is="dom-repeat" items="{{bibliografiaComplementar}}">
              <div class="item-bibliografia">{{item}}</div>   
            </template>
          </div>
        </paper-card>  
      </section>

      <section id="objetivos">
        <div class="layout vertical">
          <paper-card heading="Objetivo Geral da Unidade Curricular" class="flex">
            <div class="card-content">
              <paper-textarea 
                label="Objetivo Geral"
                value="{{plano.objetivoGeral}}"
                no-label-float>
              </paper-textarea>
            </div>
          </paper-card>

          <paper-card heading="Objetivos Específicos da Unidade Curricular" class="flex">
            <div class="card-content">
              <paper-textarea 
                label="Objetivos Específicos"
                value="{{plano.objetivosEspecificos}}"
                no-label-float>
              </paper-textarea>
            </div>
          </paper-card>     
        </div>
      </section>

      <section id="avaliacao">
        <p>Utilize essa seção para detalhar as avaliações que deseja aplicar no decorrer da disciplina. As avaliação são divididas em dois bimestres e, recomenda-se, que sejam aplicadas, em cada bimestre, ao menos duas avaliações distintas. Caso achar necessário, deixe observações com relação às avaliações planejadas.</p>

        <sapiens-composicao-avaliacao 
          id="avaliacoes"
          avaliacoes-primeiro-bimestre="{{plano.avaliacoesPrimeiroBimestre}}"
          avaliacoes-segundo-bimestre="{{plano.avaliacoesSegundoBimestre}}"
          observacoes-primeiro-bimestre="{{plano.observacoesPrimeiroBimestre}}"
          observacoes-segundo-bimestre="{{plano.observacoesSegundoBimestre}}"
          instrumentos="{{instrumentosAvaliacao.instrumentos}}">
        </sapiens-composicao-avaliacao>  
      </section>

      <section id="recuperacao">
        <div class="layout vertical">
          <paper-card heading="Recuperação da Aprendizagem" class="flex">
            <div class="card-content">
              <paper-textarea 
                label="Estratégias de Recuperação"
                value="{{plano.recuperacao}}"
                no-label-float>
              </paper-textarea>
            </div>
          </paper-card>  
        </div> 
      </section>

      <section id="Metodologia">
        <iron-ajax
          auto
          url="/data/tecnicas-ensino.json"
          handle-as="json"
          last-response="{{tecnicasEnsino}}"
          debounce-duration="300">
        </iron-ajax>

        <iron-ajax
          auto
          url="/data/recursos-ensino.json"
          handle-as="json"
          last-response="{{recursosEnsino}}"
          debounce-duration="300">
        </iron-ajax>

        <iron-ajax
          auto
          url="/data/instrumentos-avaliacao.json"
          handle-as="json"
          last-response="{{instrumentosAvaliacao}}"
          debounce-duration="300">
        </iron-ajax>

        <h1>Quantitativo de aulas
          <span class$="{{limite}}">              
            (<span>{{plano.aulas}}</span>/<span>{{cargaTotal(plano.disciplina.aulas)}}</span>)
          </span>
        </h1>
        <p>Indique a quantidade de aulas práticas e teóricas que deseja ministrar nesta disciplina.</p>

        <paper-card>                  
          <div class="card-content">
            <div>
              <paper-input 
                type="number" 
                min="0" 
                max="200" 
                label="Quantidade de aulas práticas" 
                value="{{plano.praticas}}"
                on-input="_aulasChanged">
              </paper-input>
            </div>

            <div>
              <paper-input 
                type="number" 
                min="0" 
                max="200" 
                label="Quantidade de aulas teóricas" 
                value="{{plano.teoricas}}"
                on-input="_aulasChanged">
              </paper-input>
            </div>
          </div>
        </paper-card>

        <h1>Metodologia aplicada</h1>
        <p>A seguir, indique as técnicas, recursos de ensino e instrumentos de avaliação utilizados em cada um dos tópicos de ensino listados. O Sapiens lista para você cada um dos tópicos contidos na ementa da disciplina. Lembre-se que você pode inserir novos tópicos de ensino.</p>
        <paper-button on-tap="abrirModalSaibaMaisMetodologia" raised>Saiba mais</paper-button>

        <paper-material elevation="1" id="detalhamento-metodologia">
          <div class="header layout horizontal">
            <h1 class="table-title">Detalhamento da proposta de trabalho</h1>
            <span class="spacer"></span>
            <div class="controls">
              <paper-icon-button id="remove-topico-btn" icon="delete" on-tap="removerTopicoModal" hidden$="{{!conteudoSelecionado}}"></paper-icon-button>
              <paper-tooltip for="remove-topico-btn" position="bottom">Remover conteúdo selecionado</paper-tooltip>              
              <paper-icon-button id="novo-topico-btn" icon="add" on-tap="novoTopico"></paper-icon-button>
              <paper-tooltip for="novo-topico-btn" position="bottom">Adicionar um novo conteúdo</paper-tooltip>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>Conteúdo</th>
                <th class="numero-aulas">N<sup>o</sup> aulas</th>
                <th>Técnicas de Ensino</th>
                <th>Recursos de Ensino</th>
                <th>Instrumentos de Avaliação</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{plano.topicos}}" as="conteudo">
                <tr>
                  <td on-tap="selecionarLinha" data-index$="[[index]]" class="conteudo">{{conteudo.topico}}</td>
                  <td class="numero-aulas">
                    <paper-input 
                      type="number" 
                      min="0"
                      value="{{conteudo.aulas}}"
                      on-change="_aulasConteudosChanged">
                    </paper-input>
                  </td>
                  <td>
                    <sapiens-multiple-input 
                      selected-items="[[conteudo.tecnicasEnsino]]" 
                      items="{{tecnicasEnsino.tecnicas}}" small>
                    </sapiens-multiple-input>
                  </td>
                  <td>
                    <sapiens-multiple-input 
                      selected-items="[[conteudo.recursosEnsino]]" 
                      items="{{recursosEnsino.recursos}}" small>
                    </sapiens-multiple-input>
                  </td>
                  <td>
                    <sapiens-multiple-input 
                      selected-items="[[conteudo.instrumentosAvaliacao]]" 
                      items="{{instrumentosAvaliacao.instrumentos}}" small>
                    </sapiens-multiple-input>
                  </td>
                </tr>              
              </template>
            </tbody>
          </table>
        </paper-material>

        <paper-dialog id="modalNovoTopico" modal>
          <p>A seguir, você deve descrever o conteúdo que deseja adicionar à lista de conteúdos do detalhamento da proposta de trabalho.</p>
          <paper-textarea label="Conteúdo" value="{{conteudo}}"></paper-textarea>

          <div class="buttons">
            <paper-button dialog-dismiss>Cancelar</paper-button>
            <paper-button dialog-confirm autofocus on-tap="adicionarConteudo">Adicionar</paper-button>
          </div>
        </paper-dialog>

        <paper-dialog id="modalRemoverTopico" modal>
          <p>Deseja remover o tópico <em>{{conteudoSelecionadoObj.conteudo.topico}}</em>?</p>
          <div class="buttons">
            <paper-button dialog-dismiss>Não</paper-button>
            <paper-button dialog-confirm autofocus on-tap="removerConteudo">Sim</paper-button>
          </div>
        </paper-dialog>

        <paper-dialog id="modalSaibaMaisMetodologia" modal>
          <h2>Metodologia</h2>
          <paper-dialog-scrollable>
            <p>A metodologia ou estratégias de aprendizagem como alguns autores denominam, esclarecem 
            "os procedimentos que os professores utilizarão para facilitar o processo de aprendizagem" (GIL, 2012, p.38). É importante destacar quais os recursos, meios, materiais e procedimentos
            que serão adotados ao longo da disciplina para desenvolvimento das aulas e
            escolha das estratégias de ensino e de aprendizagem, forma de aula,
            dinâmicas, etc. Na metodologia deve estar explícito quais as estratégias
            metodológicas e didáticas serão usadas pelo professor para atingir os objetivos
            propostos na disciplina. Vasconcellos (1998), Diaz Bordenave e Pereira (1994),
            Pilleti (1999), Anastasiou e Alves (2009), Gil (2012) apresentam várias
            estratégias e metodologias tais como aula expositiva-dialogada, mapas
            conceituais, portfólio, estudo de texto, dramatização, tempestade cerebral,
            soluções de problemas, phillips 66, pesquisa de campo, estudo de caso,
            seminário, fórum, oficinas, estudos com pesquisa, estudos dirigidos, visitas
            orientadas, palestras, seminários, discussão de filmes e de livros, encenação,
            júri simulado, etc.</p>

            <p><strong>Fonte: </strong><a href="http://goo.gl/5SAqbL" target="_blank">UNIRIO - Elaboração do Plano de Ensino e do Plano de Aula</a></p>
          </paper-dialog-scrollable>
          <div class="buttons">
            <paper-button dialog-confirm>Fechar</paper-button>
          </div>
        </paper-dialog>

      </section>      
    </neon-animated-pages>

    <paper-toast id="toastWarning">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

    <paper-toast id="toastError">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-plano-ensino',

      properties: {
        plano: {
          type: Object,
          notify: true,
          observer: '_planoChanged'
        },

        ementas: {
          type: Array,
          notify: true,
          computed: '_ementas(plano.disciplina.ementa)'
        },

        disciplina: {
          type: Object,
          notify: true
        },

        avaliacoes: {
          type: Object,
          notify: true
        },

        bibliografiaBasica: {
          type: Array,
          computed: '_bibliografia(plano.disciplina.bibliografia-basica)'
        },

        bibliografiaComplementar: {
          type: Array,
          computed: '_bibliografia(plano.disciplina.bibliografia-complementar)'
        },

        secao: {
          type: Number,
          value: 0
        },

        semanas: {
          type: Number,
          value: 20
        }, 

        aulasAtribuidas: {
          type: Number,
          value: 0
        }, 

        maximoAulas: {
          type: Number,
          value: 0
        },

        instrumentosAvaliacao: {
          type: Object,
          notify: true
        },

        conteudo: {
          type: String,
          notify: true,
          value: ''
        },

        conteudoSelecionado: {
          type: Boolean,
          value: false
        },

        conteudoSelecionadoObj: {
          type: Object,
          notify: true
        }
      },

      observers: [
        '_aulasPraticasChanged(plano.praticas)',
        '_aulasTeoricasChanged(plano.teoricas)',
        '_avaliacoesChanged(avaliacoes.*)'
      ],

      _bibliografia: function(bibliografia){
        if(bibliografia){
          return bibliografia.split('\n');  
        }        
      },

      _ementas: function(ementas){
        if(ementas){
          return ementas.split(';');  
        }        
      },

      abrirModalSaibaMaisMetodologia: function(){
        this.$.modalSaibaMaisMetodologia.open();
      },

      novoTopico: function(evt){
        this.$.modalNovoTopico.open();
      },

      removerTopicoModal: function(){
        this.$.modalRemoverTopico.open();
      },

      adicionarConteudo: function(evt){
        this.push('plano.topicos', {
          topico: this.conteudo,
          aulas: 0,
          tecnicasEnsino: [],
          recursosEnsino: [],
          instrumentosAvaliacao: [],
        });

        this.set('conteudo', '');
      },

      removerConteudo: function(evt){
        this.splice('plano.topicos', this.conteudoSelecionadoObj.index, 1);
        this.conteudoSelecionado = false;
        this.set('conteudoSelecionadoObj', {});

        var refPlano = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');
        
        refPlano
          .child(this.plano.__firebaseKey__ + '/topicos')
          .set(this.plano.topicos);
      },

      selecionarLinha: function(evt){
        var td = evt.target;
        var index = td.getAttribute('data-index');

        if(Polymer.dom(td).parentNode.getAttribute('class').indexOf('selecionada') > -1){
          // linha já está selecionada e deve ser desmarcada
          this.desmarcarLinha(td);
          this.conteudoSelecionado = false;
          this.set('conteudoSelecionadoObj', {});
        }else{
          this.marcarLinha(td);

          /* Não permitir que conteúdos da ementa seja removidos */
          
          this.conteudoSelecionado = true;

          this.set('conteudoSelecionadoObj', {
            index: index,
            conteudo: this.plano.topicos[index]
          });  
        }       
      },

      marcarLinha: function(td){
         /* Desmarcar última linha selecionada */
        var lastSelectedEl = document.querySelector('tr.selecionada');       

        if(lastSelectedEl){  
          lastSelectedEl.className = lastSelectedEl.className.replace('selecionada', '');       
        }

        /* Marcar nova linha selecionada */
        var tr = Polymer.dom(td).parentNode;
        var lastClass = tr.getAttribute('class');
        
        tr.setAttribute('class', lastClass.trim() + ' selecionada');
      },

      desmarcarLinha: function(td){
        var tr = Polymer.dom(td).parentNode;
          
        tr.setAttribute('class', tr.className.replace('selecionada', ''));
      },

      _avaliacoesChanged: function(avaliacoes){
        this.set('plano.avaliacoes', avaliacoes);
      },

      _aulasPraticasChanged: function(change){
        this.set('plano.aulas', (~~this.plano.praticas + ~~this.plano.teoricas));
      },

      _aulasTeoricasChanged: function(change){
        this.set('plano.aulas', (~~this.plano.praticas + ~~this.plano.teoricas));
      },

      _aulasConteudosChanged: function(evt){
        var aulas = 0;

        this.plano.topicos.forEach(function(topico){
          aulas += ~~topico.aulas;
        });

        if (aulas == this.maximoAulas){
          this.$.toastWarning.text = 'Atenção: você acaba de atribuir o número máximo de aulas';
          this.$.toastWarning.show();
        }else{
          if (aulas > this.maximoAulas){
            this.$.toastError.text = 'Atenção: você excedeu o número máximo de aulas permitidas para esta disciplina';
            this.$.toastError.show();
          }else{
            app.$.toast.text = 'Você já atribuiu ' + aulas + ' aulas de ' + this.maximoAulas;
            app.$.toast.show();
          }
        }

        this.set('aulasAtribuidas', aulas);        
      },

      _planoChanged: function(plano){
        if (!plano.isEmpty()){
          if(!this.plano.praticas && !this.plano.teoricas){
            plano.praticas = 0;
            plano.teoricas =0
            this.aulasAtribuidas = 0;
            this.maximoAulas = parseFloat(plano.disciplina.aulas.replace(',','.')) * this.semanas;  
          }
        }
      },

      _aulasChanged: function(evt){
        var qtdAulas = ~~this.plano.praticas + ~~this.plano.teoricas;

        if (qtdAulas > this.cargaTotal(this.plano.disciplina.aulas)){
          app.$.toast.text = 'Atenção! Número de aulas acima do permitido nesta disciplina';
          app.$.toast.show();

          this.limite = 'limite'
        }else{
          this.limite = 'normal'
        }
      },

      cargaTotal: function(carga){
        if(carga){
          return parseFloat(carga.replace(',', '.')) * this.semanas;  
        }

        return 0;        
      },

      qtdAulasListener: function(e){
        var index = Polymer.dom(e.target).node.domHost['data-index'];        
        this.set('plano.topicos.' + index + '.aulas', e.target.value);
      },

      back: function() {
        var parent = this.domHost;

        parent.entryAnimation = 'slide-from-left-animation';
        parent.exitAnimation = 'slide-right-animation';
        parent.set('selecionada', parseInt(parent.selecionada - 1));

        app.changeView({
          title: 'Minhas disciplinas',
          state: 'normal',
          route: 'disciplinas'
        });
      },

      view: function(){        
        var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');

        refServidores.child(app.user.key).once('value').then(function(snapshotDocente){
          var modeloPlano = document.querySelector('sapiens-modelo-plano');
          
          modeloPlano.plano.docente = snapshotDocente.val().nomecompleto;
          modeloPlano.view();
        });         
      },

      send: function(){
        var refPlanos = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');
        var self = this;

        if(!this.plano.createdAt){
          // plano não foi salvo ainda
          this.save();
        }

        if (this.plano.status !== 'enviado'){
          refPlanos
            .child(this.plano.__firebaseKey__)
            .update({
              status: 'enviado',
              updatedAt: Firebase.ServerValue.TIMESTAMP
            });

          this.set('plano.status', 'enviado');

          /* Enviar e-mail para DIREN e COINFO 
             diren.dr@ifms.edu.br, coinf.dr@ifms.edu.br
          */

          //this.$.email.to = 'diren.dr@ifms.edu.br';
          this.$.email.set('subject', '[PLANO DE ENSINO] ' + this.plano.disciplina.disciplina);
          this.$.email.set('message', 'O plano de ensino da disciplina ' + this.plano.disciplina.disciplina + ' foi enviado para avaliação pelo docente ' + app.user.servidor.nomecompleto + '\n\nDADOS DA DISCIPLINA\n\n' + '\tDisciplina: ' + this.plano.disciplina.disciplina + '\n\tCurso: ' + this.plano.disciplina.curso.modalidade + ' em ' + this.plano.disciplina.curso.nome  + '\n\tTurma: ' + this.plano.disciplina.turma.nome + ' | ' +  this.plano.disciplina.turma.ano + ' | ' + this.plano.disciplina.turma.periodo);

          var planoStr = JSON.stringify(this.plano);          
          var fileNameToSaveAs = 'plano-' + app.slug(this.plano.disciplina.disciplina) + '-' + app.slug(this.plano.disciplina.turma.nome) + '-' + app.slug(this.plano.disciplina.turma.ano) + '.json';
          self.$.email.sendMessage(app.b64EncodeUnicode(planoStr), fileNameToSaveAs);

          app.$.toast.text = 'Plano de ensino enviado à COINFO e à DIREN';
          app.$.toast.show();          
        } else {
          app.$.toast.text = 'Este plano já foi enviado à sua chefia imediata anteriormente';
          app.$.toast.show();
        }

        
      },

      copy: function(){
        var planoCopiado = this.plano.clone();

        app.planoCopiado = {
          objetivoGeral: planoCopiado.objetivoGeral || '',
          objetivosEspecificos: planoCopiado.objetivosEspecificos  || '',      
          observacoesPrimeiroBimestre: planoCopiado.observacoesPrimeiroBimestre || '',
          observacoesSegundoBimestre: planoCopiado.observacoesSegundoBimestre || '',
          recuperacao: planoCopiado.recuperacao || '',
          praticas: planoCopiado.praticas || 0,
          teoricas: planoCopiado.teoricas || 0
        }

        if (planoCopiado.topicos){
          app.planoCopiado.topicos = planoCopiado.topicos;
        }

        if (planoCopiado.avaliacoesPrimeiroBimestre){
          app.planoCopiado.avaliacoesPrimeiroBimestre = planoCopiado.avaliacoesPrimeiroBimestre;
        }

        if (planoCopiado.avaliacoesSegundoBimestre){
          app.planoCopiado.avaliacoesSegundoBimestre = planoCopiado.avaliacoesSegundoBimestre;
        }
        
        app.$.toast.text = 'Plano copiado para a área de transferência';
        app.$.toast.show();
      },

      paste: function(){
        if (app.planoCopiado){
          for (var prop in app.planoCopiado) {
            if (app.planoCopiado.hasOwnProperty(prop)) {
              this.set('plano.' + prop, app.planoCopiado[prop]);
            }
          }

          app.$.toast.text = 'Plano colado com sucesso';
          app.$.toast.show();
        }else{
          app.$.toast.text = 'Nenhum plano foi copiado para a área de transferência';
          app.$.toast.show(); 
        }
      },

      save: function(){
        var refPlanos = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');

        if(!this.plano.createdAt){
          this.plano.createdAt = Firebase.ServerValue.TIMESTAMP;
          this.plano.status = 'criado';
        }else{
          this.plano.updatedAt = Firebase.ServerValue.TIMESTAMP;
        }

        var plano = this.plano.clone();

        plano.curso = plano.disciplina.curso.key;
        plano.turma = plano.disciplina.turma.key;
        plano.disciplina = plano.disciplina.key;
        plano.aulas = plano.aulas;
        plano.praticas = plano.praticas;
        plano.teoricas = plano.teoricas;
        plano.topicos = plano.topicos;
        plano.docente = app.user.key;
        plano.maximoAulas = this.maximoAulas;
        plano.aulasAtribuidas = this.aulasAtribuidas;     
  
        if (this.plano.__firebaseKey__){
          var key = plano.__firebaseKey__;
          delete plano.__firebaseKey__;
          delete plano.createdAt;
          refPlanos.child(key).update(plano);
        }else{
          var id = refPlanos.push(plano).key();          
          this.plano.__firebaseKey__ = id;
        }      

        app.$.toast.text = 'Plano de Ensino salvo!';
        app.$.toast.show();
      }
    });
  })();
  </script>
</dom-module>
