<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="sapiens-disciplinas-data.html">
<link rel="import" href="sapiens-disciplinas-docente.html">
<link rel="import" href="sapiens-plano-ensino.html">

<dom-module id="sapiens-disciplinas">
  <template>
    <sapiens-disciplinas-data 
      user="{{user}}" 
      planos="{{planos}}"
      disciplinas-docente="{{disciplinasDocente}}"
      disciplinas-docente-com-filtro="{{disciplinasDocenteComFiltro}}">
    </sapiens-disciplinas-data>

    <neon-animated-pages 
      id="paginas-disciplinas" 
      selected="{{selecionada}}" 
      entry-animation="[[entryAnimation]]" 
      exit-animation="[[exitAnimation]]">

      <neon-animatable class="page">
        <!-- Lista as disciplinas do docente -->
        <sapiens-disciplinas-docente 
          disciplinas-docente="{{disciplinasDocente}}"
          disciplinas-docente-com-filtro="{{disciplinasDocenteComFiltro}}"
          disciplina="{{disciplina}}"
          planos="{{planos}}"
          plano="{{plano}}"
          user="{{user}}">
        </sapiens-disciplinas-docente>
      </neon-animatable>

      <neon-animatable>
        <!-- Mostra o plano de ensino selecionado na lista de disciplinas -->
        <sapiens-plano-ensino
          id="plano"
          disciplina="{{disciplina}}"
          plano="{{plano}}">
        </sapiens-plano-ensino>
      </neon-animatable>

    </neon-animated-pages> 
    
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-disciplinas',

      properties: {
        selecionada: {
          type: Number,
          value: 0
        },

        disciplinasDocente: {
          type: Array,
          notify: true,
          value: []
        },

        disciplinasDocenteComFiltro: {
          type: Array,
          notify: true,
          value: []
        },

        plano: {
          type: Object,
          notify: true
        },

        planos: {
          type: Array,
          notify: true
        }       
      },

      proximo: function() {
        this.entryAnimation = 'slide-from-right-animation';
        this.exitAnimation = 'slide-left-animation';
        this.selecionada = parseInt(this.selecionada + 1);

        var disciplina = this.plano.disciplina.disciplina;

        app.changeView({
          title: disciplina,
          state: 'editandoPlanoEnsino',
          route: 'disciplinas',
          viewElement: 'sapiens-plano-ensino' // actions
        });

        var viewElement = document.querySelector('sapiens-plano-ensino');

        app.visualizarPlano = viewElement.view;
      }
    });
  })();
  </script>
</dom-module>
