<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sapiens-email">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>	
	<script type="text/javascript">
      // Your Client ID can be retrieved from your project in the Google
      // Developer Console, https://console.developers.google.com
      var CLIENT_ID = '178186592702-25skd57bt9iu6pg5dbhnv620hk703qbj.apps.googleusercontent.com';
      
      var SCOPES = [
        'https://mail.google.com/',
        'https://www.googleapis.com/auth/gmail.modify',
        'https://www.googleapis.com/auth/gmail.compose',
        'https://www.googleapis.com/auth/gmail.send'
      ];

      function sendMessage(emailObj, message, callback) {
        var email = '';

        for(var header in emailObj){
          email += header += ": "+ emailObj[header]+"\r\n";
        }

        email += "\r\n" + message;

        var base64EncodedEmail = btoa(email);
        var request = gapi.client.gmail.users.messages.send({
          'userId': 'me',
          'resource': {
            'raw': base64EncodedEmail
          }
        });

        request.execute(callback);
      }

      /**
       * Check if current user has authorized this application.
       */
      function checkAuth() {
      	gapi.auth.authorize({
	        'client_id': CLIENT_ID,
	        'scope': SCOPES.join(' '),
	        'immediate': true
	    }, handleAuthResult);
      }

      /**
       * Handle response from authorization server.
       *
       * @param {Object} authResult Authorization result.
       */
      function handleAuthResult(authResult) {
      	if (authResult && !authResult.error) {
      		loadGmailApi();
        } else {
            // Show auth UI, allowing the user to initiate authorization by
            // clicking authorize button.
          	gapi.auth.authorize({
          		client_id: CLIENT_ID, 
          		scope: SCOPES, 
          		immediate: false
          	}, handleAuthResult);
        }
      }

      /**
       * Load Gmail API client library
       */
      function loadGmailApi() {
        gapi.client.load('gmail', 'v1');
      }

    </script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
  </template>

  <script>
  	(function() {
  		Polymer({
    		is: 'sapiens-email',

    		properties: {
    			to: {
    				type: String,
    				notify: true
    			},

    			message: {
    				type: String,
    				notify: true
    			},

    			subject: {
    				type: String,
    				notify: true
    			}
    		},

    		sendMessage: function(attachment, filename) {
	            var email = '';
	            var message = this.message;
              
              var emailObj = {
                'Content-Type': 'multipart/mixed; boundary="sapiens_boundary"',
                'MIME-Version': '1.0',
                'To': this.to,
                'Subject': this.subject
              };

              for(var header in emailObj){
                email += header += ": "+ emailObj[header]+"\r\n";
              }

              email += '\n\n--sapiens_boundary\n' +
                        'Content-Type: text/plain; charset="UTF-8"\n' +
                        'MIME-Version: 1.0\n' +
                        'Content-Transfer-Encoding: 7bit\n\n' +
                        message + 
                        '\n--sapiens_boundary\n' +
                        'Content-Type: text/plain; charset="UTF-8"\n' +
                        'MIME-Version: 1.0\n' +
                        'Content-Transfer-Encoding: base64\n' +
                        'Content-Disposition: attachment; filename="' + 
                        filename + '"\n\n' + attachment + '\n\n' + '--sapiens_boundary';      

              var base64EncodedEmail = window.btoa(email).replace(/\//g,'_').replace(/\+/g,'-');
              var request = gapi.client.gmail.users.messages.send({
                'userId': 'me',
                'resource': {
                  'raw': base64EncodedEmail
                }
              });

              request.execute(function(result){
                // console.log(result);
              });             
	        },
        	
  		});
  	})();
  </script>

</dom-module>
