<!doctype html>
<html lang="">

<head>
  <!-- <script>'https:'!==window.location.protocol&&(window.location.protocol='https')</script> -->
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit" />
  <title>Sapiens</title>
  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css" async>
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js" async></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles" async></style>

</head>

<body unresolved>
  <span id="browser-sync-binding"></span>

  <div id="loading">
    <img src="/images/loading.svg"></div>
  </div>

  <template is="dom-bind" id="app">
    <firebase-auth id="firebaseLogin" user="{{user}}" status-known="{{statusKnown}}" location="https://blazing-inferno-2038.firebaseio.com/" provider="google" on-login="loginHandler" on-error="errorHandler"></firebase-auth>

    <paper-drawer-panel id="paperDrawerPanel">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>
        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}">
          <a data-route="home" href="{{baseUrl}}">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>
        
          <template is="dom-if" if="{{active}}">
            <a data-route="disciplinas" href="{{baseUrl}}disciplinas" hidden$="{{!user.servidor.docente}}">
              <iron-icon icon="book"></iron-icon>
              <span>Minhas disciplinas</span>
            </a>

            <!-- <a data-route="projetos" href="/projetos" hidden$="{{!user.docente}}">
              <iron-icon icon="extension"></iron-icon>
              <span>Meus projetos</span>
            </a>

            <a data-route="atividades" href="/atividades" hidden$="{{!user.docente}}">
              <iron-icon icon="event"></iron-icon>
              <span>Minhas atividades</span>
            </a> -->
          </template>
        </paper-menu>
  
        <!-- Menu - PEDAG -->
        <div hidden$="{{!user.servidor.pedag}}">
          <paper-subheader>PEDAG</paper-subheader>
          <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}">
            <template is="dom-if" if="{{active}}">
              <a data-route="diren-planos" href="/diren/planos">            
                <iron-icon icon="description"></iron-icon>
                <span>Planos de Ensino</span>
              </a> 

              <a data-route="docentes" href="/diren/docentes">
                <iron-icon icon="social:group"></iron-icon>
                <span>Docentes</span>
              </a> 
            </template>  
          </paper-menu>
        </div>

        <!-- Menu - COINFO -->

        <div hidden$="{{!user.servidor.coinfo}}">
          <paper-subheader>COINFO</paper-subheader>
          <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}">
            <template is="dom-if" if="{{active}}">
              <a data-route="diren-planos" href="/diren/planos">            
                <iron-icon icon="description"></iron-icon>
                <span>Planos de Ensino</span>
              </a> 

              <a data-route="docentes" href="/diren/docentes">
                <iron-icon icon="social:group"></iron-icon>
                <span>Docentes</span>
              </a> 
            </template>  
          </paper-menu>
        </div>

        <div hidden$="{{!user.servidor.diren}}">
          <paper-subheader>DIREN</paper-subheader>
          <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}">
            <template is="dom-if" if="{{active}}">
              <a data-route="turmas" href="/diren/turmas">
                <iron-icon icon="dashboard"></iron-icon>
                <span>Turmas</span>
              </a> 

              <a data-route="docentes" href="/diren/docentes">
                <iron-icon icon="social:group"></iron-icon>
                <span>Docentes</span>
              </a> 

              <a data-route="diren-planos" href="/diren/planos">            
                <iron-icon icon="description"></iron-icon>
                <span>Planos de Ensino</span>
              </a> 
            </template>  
          </paper-menu>
        </div>

        <div hidden$="{{!user.master}}">
          <paper-subheader>ADMIN</paper-subheader>
          <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}">
            <template is="dom-if" if="{{active}}">
              <a data-route="master" href="/master">
                <iron-icon icon="assignment"></iron-icon>
                <span>Entrada de dados</span>
              </a>          
              
              <!-- <a data-route="" href="/disciplinas/lista">
                <iron-icon icon="assignment"></iron-icon>
                <span>Cadastros</span>
              </a> -->
            </template>
          </paper-menu>
        </div>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main id="headerPanelMain" fixed>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar">
          <paper-icon-button id="paperToggle" icon="menu" hidden="{{viewing}}" paper-drawer-toggle></paper-icon-button>

          <!-- Toolbar actions containers -->
          <div id="leftButtonsContainer"></div>
          <span class="space"></span>         
          <div id="actionButtonsContainer"></div>
          <!-- END Toolbar icons -->

          <paper-menu-button horizontal-align="right">
            <!-- <img class="user-image" src="{{user.google.profileImageURL}}" class="dropdown-trigger"  hidden$="{{!user}}"/> -->
            <paper-icon-button src="{{user.google.profileImageURL}}" class="dropdown-trigger user-image" hidden$="{{!user}}"></paper-icon-button>

            <paper-icon-button icon="social:person" class="dropdown-trigger" hidden$="{{user}}"></paper-icon-button>

            <paper-menu class="dropdown-content">
              <paper-item on-tap="login" hidden$="{{user}}">Login</paper-item>
              <paper-item on-tap="logout" hidden$="{{!user}}">Logout</paper-item>
            </paper-menu>
          </paper-menu-button>

          <!-- Application name -->
          <div class="middle middle-container center horizontal layout">
            <div class="app-name">{{activeTitle}}</div>
          </div>

        </paper-toolbar>

        <!-- Main Content -->       

        <div class="content">
          <neon-animated-pages 
            attr-for-selected="data-route" 
            selected="{{route}}"
            entry-animation="fade-in-animation" 
            exit-animation="fade-out-animation">            

            <neon-animatable data-route="master">              
              <sapiens-master class="view" user="{{user}}"></sapiens-master>
            </neon-animatable>

            <neon-animatable data-route="home">
              <sapiens-home class="view" user="{{user}}"></sapiens-home>
            </neon-animatable>

            <neon-animatable data-route="login">              
              <sapiens-login class="view"></sapiens-login>
            </neon-animatable>     

            <!-- DOCENTE -->
            
            <neon-animatable data-route="disciplinas">
              <sapiens-disciplinas class="view" user="{{user}}"></sapiens-disciplinas>
            </neon-animatable>

            <!-- <neon-animatable data-route="projetos">
              <sapiens-projetos class="view" user="{{user}}"></sapiens-projetos>
            </neon-animatable> -->

            <!-- <neon-animatable data-route="atividades">
              <sapiens-atividades class="view"></sapiens-atividades>
            </neon-animatable> -->

            <!-- DIREN -->

            <neon-animatable data-route="turmas">
              <sapiens-turmas class="view" user="{{user}}"></sapiens-turmas>
            </neon-animatable> 

            <neon-animatable data-route="docentes">
              <sapiens-docentes class="view"></sapiens-docentes>
            </neon-animatable>   

            <neon-animatable data-route="diren-planos">
              <sapiens-diren-planos class="view"></sapiens-diren-planos>
            </neon-animatable>       

          </neon-animated-pages>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

  </template>

  
  <!-- build:js scripts/app.js -->
  <script src="bower_components/firebase/firebase.js"></script>  
  <script src="scripts/humane.js"></script>
  <script src="scripts/helpers.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
