<dom-module id="sapiens-turmas-data">
  <template>
    
    <firebase-collection
      id="cursosCollection"
      location="https://blazing-inferno-2038.firebaseio.com/cursos"
      order-by-child="nome"
      data="{{cursos}}">
    </firebase-collection>

    <firebase-collection
      id="turmasCollection"
      location="https://blazing-inferno-2038.firebaseio.com/turmas"
      order-by-child="curso"
      equal-to="{{curso.__firebaseKey__}}"
      data="{{turmas}}">
    </firebase-collection> 

    <firebase-collection
      id="turmasCollection"
      location="https://blazing-inferno-2038.firebaseio.com/turmas"
      order-by-child="curso"
      equal-to="{{curso.__firebaseKey__}}"
      data="{{turmasComFiltro}}">
    </firebase-collection> 

    <firebase-collection
      id="docentesCollection"
      location="https://blazing-inferno-2038.firebaseio.com/servidores"
      order-by-child="docente"
      equal-to="true"
      data="{{docentes}}">
    </firebase-collection>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-turmas-data',

      properties: {
        turmas: {
          type: Array,
          notify: true
        },

        turmasComFiltro: {
          type: Array,
          notify: true
        },

        cursos: {
          type: Array,
          notify: true
        }, 

        matriz: {
          type: Array,
          notify: true
        },

        docentes: {
          type: Array,
          notify: true
        }
      },

      ready: function(){
        var ref = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');
        var self = this;

        ref
          .orderByChild('docente')
          .equalTo(true)
          .on('value', function(snapshot){
            if (snapshot.exists()) {
              self.docentes = snapshot.val().toArray();
            }
          });
      }
    });
  })();
  </script>
</dom-module>
