<dom-module id="sapiens-distribuicao-input">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
     
    <paper-input-autocomplete 
      id="docente-{{index}}"
      label="Docente" 
      value="{{docente}}" 
      source="{{docentes}}" 
      suggestions-in-overlay="true" 
      search-property="nome"
      value-prop="nome"
      class="flex autocomplete" 
      empty-callback="[[_emptyCallback]]"
      required>
    </paper-input-autocomplete>

    <paper-icon-button icon="">Limpar</paper-icon-button>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-distribuicao-input',

      properties: {
        docente: {
          type: Object,
          observer: '_docenteChanged',
          notify: true
        },

        disciplina: {
          type: Object,
          notify: true
        },

        turma: {
          observer: '_turmaChanged'
        }   
      },

      /* Chamado quando o usuário seleciona uma turma para edição */
      _turmaChanged: function(turma){
        if (turma.__firebaseKey__){

          var self = this;
          var ref = new Firebase('https://blazing-inferno-2038.firebaseio.com');

          ref.child('distribuicao/' + this.turma.__firebaseKey__)
            .orderByChild('disciplina')
            .equalTo(this.disciplina.key)
            .on('value', function(snapshot){

              if(snapshot.exists()){
                self.distribuicao = snapshot.val().toArray()[0];
                var key = self.distribuicao.docente;
                var docente = self.docentes.filter(function(d){
                  return d.key == key;
                })[0];

                self.docente = docente;
              }else{
                self.docente = {};
              }            
            });
        }
      },

      aumentarCargaHoraria: function (docente, disciplina){          
        // atualizar carga horária docente
        var refDocentes = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');

        refDocentes
          .child(docente)
          .once('value')
          .then(function(snapshotDocente){
            var docente = snapshotDocente.val();
            var cargaDocenteAtual = docente.carga || 0;
            var novaCarga = cargaDocenteAtual + parseFloat(disciplina.aulas.replace(',', '.'));

            docente.carga = novaCarga;
            snapshotDocente.ref().set(docente);
        });
      },

      diminuirCargaHoraria: function (docente, disciplina) {          
        // atualizar carga horária docente
        var refDocentes = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');

        refDocentes.child(docente).once('value').then(function(snapshotDocente){
          var docente = snapshotDocente.val();
          var cargaDocenteAtual = docente.carga || 0;
          var novaCarga = cargaDocenteAtual - parseFloat(disciplina.aulas.replace(',', '.'));

          docente.carga = novaCarga;
          snapshotDocente.ref().set(docente);
        });
      },

      _docenteChanged: function(docente){
        var urlBase = 'https://blazing-inferno-2038.firebaseio.com/distribuicao/';
        var ref = new Firebase(urlBase + this.turma.__firebaseKey__);
        var distKey = this.disciplina.key;
        var self = this;

        if (!this.docente.isEmpty()){
          ref.orderByChild('disciplina').equalTo(distKey).once('value', function(d){
            if(d.exists()){
              var distribuicao = d.val().toArray()[0];

              ref.child(distribuicao.key).once('value', function(snapshot){
                if(snapshot.exists() && !docente.isEmpty()){ // update docente
                  var dist = snapshot.val();

                  // troca de docente responsável por uma disciplina    
                  if (!(dist.docente === docente.key)){
                    var key = snapshot.key();

                    self.diminuirCargaHoraria(distribuicao.docente, self.disciplina);

                    // troca de docentes
                    distribuicao.docente = docente.__firebaseKey__ || docente.key;
                    ref.child(key).update(distribuicao);  

                    self.aumentarCargaHoraria(distribuicao.docente, self.disciplina);
                  }            
                }                
              });
            } else {
              // disciplina sem docente responsável
              if(!self.docente.isEmpty()){

                ref.once('value').then(function(snapshotDistribuicao){
                  if(!self.turma.isEmpty()){
                    var distrib = snapshotDistribuicao.val();
                    var newRef = snapshotDistribuicao.ref().push();
                    var key = newRef.key();  

                    if (!distrib){                      
                      distrib = {};
                    }          
                  
                    distrib[key] = {
                      docente: docente.key,
                      disciplina: self.disciplina.key
                    }

                    snapshotDistribuicao.ref().set(distrib);

                    // atualizar carga horária docente
                    self.aumentarCargaHoraria(docente.key, self.disciplina);      
                  }                           
                });                     
              }
            }
          });           
        }
      },

      ready: function(){
        var self = this;

        // atualizar carga horária docente quando o input fica vazio
        this._emptyCallback = function(){
          var baseUrl = 'https://blazing-inferno-2038.firebaseio.com';
          var docente = self.docente.__firebaseKey__ || self.docente.key;
          var refDocente = new Firebase(baseUrl + '/servidores/' + docente);
          var refTurma = new Firebase(baseUrl + '/distribuicao/' + self.turma.__firebaseKey__ + '/' + self.distribuicao.key); 

          if(!self.docente.isEmpty()){

            // atualizar a carga horária semanal docente
            refDocente.once('value', function(snapshot){
              if(snapshot.exists){

                var cargaDocente = parseFloat(snapshot.val().carga) || 0;
                var cargaDisciplina = ~~parseFloat(self.disciplina.aulas.replace(',', '.'));

                self.docente = {};

                var docente = snapshot.val();
               
                self.diminuirCargaHoraria(docente.key, self.disciplina);                

                // remover a distribuição da coleção de distribuições de aula
                refTurma.remove();  
              }          
            }); 
          }      
        }
      }
    });
  })();
  </script>
</dom-module>
