<dom-module id="sapiens-curso">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card{
        @apply(--layout-flex);
      }

      #nova-turma{
        @apply(--layout-vertical);
      }

      #nova-turma paper-card{
        @apply(--layout-flex);
        border-top: solid 2px rgba(0, 0, 0, 0.3);
      }

      #nova-turma paper-dropdown-menu{
        @apply(--layout-flex);
        margin-right: 16px;
      }

      #nova-turma paper-dropdown-menu:last-of-type{
        margin-right: 0;
      }

      #curso-selecionado{
        @apply(--layout-vertical);
      }

      #lista-turmas{
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        padding: 0 16px;
        margin-bottom: 16px;
      }

      #lista-turmas paper-card{
        @apply(--layout-justified);
        margin: 8px;
        min-width: 250px;
      }

      .line{
        @apply(--layout-horizontal);
      }

      #filtro{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 300px;
        position: fixed;
        left: auto;
        right: 0;
        height: 100%;
        background: #FFFFFF;  
        border-left: 1px solid rgba(0, 0, 0, 0.1);        
      }

      #filtro .content section{
        padding: 8px 24px 32px 24px;
      }

      .content section{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 8px;
        padding-bottom: 48px; 
      }

      .content section:last-of-type{
      border: none;
      }

      .drawer-title h1{
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        color: #727272;         
        font-size: 16px;
        font-weight: 400;
        line-height: 64px;        
      padding: 0 24px;
      }

      .section-title h1{
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      #container-lista-cursos{
        @apply(--layout-flex);
        margin-left: 16px;
        width: calc(100% - 332px);
      }
    </style>

    <sapiens-toolbar-actions>
      <div class="left">
        <paper-icon-button icon="arrow-back" on-tap="back"></paper-icon-button> 
      </div>
    </sapiens-toolbar-actions>
      
    <section id="curso-selecionado">
      <!-- Filtro de turmas -->

      <div id="filtro">
        <div class="drawer-title">
          <h1>Filtrar Turmas</h1>
        </div>

        <div class="content">
          <section>
            <div class="section-title">
              <h1>Ano/Semestre</h1>
            </div>

            <paper-dropdown-menu label="Selecione o ano">
                <paper-menu class="dropdown-content" selected="{{filtroAno}}" attr-for-selected="value" >
                  <paper-item value="todos">Todos</paper-item>
                  <paper-item value="2016/1">2016/1</paper-item>
                  <paper-item value="2016/2">2016/2</paper-item>
                  <paper-item value="2017/1">2017/1</paper-item>
                  <paper-item value="2017/2">2017/2</paper-item>
                  <paper-item value="2018/1">2018/1</paper-item>
                  <paper-item value="2018/2">2018/2</paper-item>
              </paper-menu>
            </paper-dropdown-menu>          
          </section>

          <section>
            <div class="section-title">
              <h1>Nome de Turma</h1>
              <paper-input 
                label="Nome da Turma"
                on-keyup="turmaChanged"></paper-input>
            </div>  
          </section>    
        </div>
      </div>

      <div id="container-lista-cursos">
        <!-- Criação de novas turmas -->
        <div id="nova-turma" class="page">
          <paper-card heading="Nova turma">  
            <div class="card-content">
              <paper-input label="Nome de turma" value="{{turma.nome}}"></paper-input>
        
              <div class="line">
                <paper-dropdown-menu label="Semestre" value="{{turma.semestre}}">
                  <paper-menu class="dropdown-content" id="semestre">
                    <paper-item>1º Semestre</paper-item>
                    <paper-item>2º Semestre</paper-item>
                    <paper-item>3º Semestre</paper-item>
                    <paper-item>4º Semestre</paper-item>
                    <paper-item>5º Semestre</paper-item>
                    <paper-item>6º Semestre</paper-item>
                    <paper-item>7º Semestre</paper-item>
                    <paper-item>8º Semestre</paper-item>
                    <paper-item>9º Semestre</paper-item>
                    <paper-item>10º Semestre</paper-item>
                  </paper-menu>
                </paper-dropdown-menu>

                <paper-dropdown-menu label="Período" value="{{turma.periodo}}">
                  <paper-menu class="dropdown-content" id="periodo">
                    <paper-item>Matutino</paper-item>
                    <paper-item>Vespertino</paper-item>
                    <paper-item>Noturno</paper-item>
                  </paper-menu>
                </paper-dropdown-menu>

                <paper-dropdown-menu label="Ano" value="{{turma.ano}}">
                  <paper-menu class="dropdown-content" id="ano">
                    <paper-item>2016/1</paper-item>
                    <paper-item>2016/2</paper-item>
                    <paper-item>2017/1</paper-item>
                    <paper-item>2017/2</paper-item>
                    <paper-item>2018/1</paper-item>
                    <paper-item>2018/2</paper-item>
                    <paper-item>2019/1</paper-item>
                    <paper-item>2019/2</paper-item>
                    <paper-item>2020/1</paper-item>
                    <paper-item>2020/2</paper-item>
                  </paper-menu>
                </paper-dropdown-menu>
              </div>
            </div> 

            <div class="card-actions">
              <paper-button on-tap="_criarTurma">Criar</paper-button>
            </div>      
          </paper-card>
        </div>
          
        <!-- Lista de turmas criadas -->
        <div id="lista-turmas">
          <template is="dom-repeat" items="{{turmasComFiltro}}" as="turma">
            
            <paper-card heading="{{turma.nome}}"> 
              <div class="card-content">
                <p><strong>Semestre: </strong><span>{{turma.semestre}}</span><sup>o</sup> Semestre</p>
                <p><strong>Período: </strong><span>{{turma.periodo}}</span></p>
                <p><strong>Ano: </strong><span>{{turma.ano}}</span></p>
              </div> 

              <div class="card-actions">
                <paper-icon-button on-tap="distribuir" icon="create"></paper-icon-button>
                <paper-icon-button on-tap="_removerTurma" icon="delete"></paper-icon-button>

                <!-- TURMA PODERÁ SER FECHADA/CONCLUIDA -->
              </div>      
            </paper-card> 
          </template> 
        </div>    
      </div>  
    
    </section>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-curso',

      properties: {
        turma:  {
          type: Object,
          value: {},
          notify: true
        },

        turmas: {
          type: Array,
          value: [],
          notify: true
        },

        turmasComFiltro: {
          type: Array,
          value: [],
          notify: true
        },

        filtroAno: {
          type: String,
          value: 'todos',
          notify: true
        },
      },

      observers: [
        'filtroAnoChanged(filtroAno)'
      ],

      filtroAnoChanged: function(filtro){
        this.set('turmasComFiltro', this.filtrarTurmas(filtro));
      },

      filtrarTurmas: function(filtro){
        var turmas = this.turmas;

        if (turmas){
          if (filtro === 'todos'){
            return turmas;
          }

          return turmas.filter(function (turma) {
            return turma.ano === filtro;
          });
        }
      },

      back: function() {
        var parent = this.domHost;

        parent.entryAnimation = 'slide-from-left-animation';
        parent.exitAnimation = 'slide-right-animation';
        parent.set('selecionada', parseInt(parent.selecionada - 1));

        app.changeView({
          title: 'Turmas',
          state: 'normal',
          route: 'turmas'
        });

        this.set('turma', {});
      },

      _criarTurma: function(evt){
        var ref = new Firebase('https://blazing-inferno-2038.firebaseio.com/turmas');
        var semestre = this.turma.semestre[0];
        var disciplinas =  this.matriz.filter(function(disciplina){
            return disciplina.semestre == semestre;
        });

        var turma = {
          nome: this.turma.nome,
          periodo: this.turma.periodo,
          semestre: semestre,
          ano: this.turma.ano,
          disciplinas: disciplinas,
          curso: this.curso.__firebaseKey__
        }

        ref.push().set(turma);

        this.$.semestre._setSelectedItem(null);
        this.$.periodo._setSelectedItem(null);
        this.$.ano._setSelectedItem(null);

        this.set('turma', {});
        this.set('turmasComFiltro', this.filtrarTurmas(this.filtroAno));
      },

      _removerTurma: function(evt){
        var urlBase = 'xhttps://blazing-inferno-2038.firebaseio.com/';
        var ref = new Firebase(urlBase);        
        var turmaKey = evt.model.__data__.turma.__firebaseKey__;
        var cursoKey = this.curso.__firebaseKey__;
        var self = this;

        ref.child('cursos').child(cursoKey).once('value', function(snapshot){
          var disciplinas = snapshot.val().matriz;

          // remover distribuição de aula para esta turma
          ref.child('distribuicao').child(turmaKey).once('value', function(snapshotDistribuicao){
            if(snapshotDistribuicao.exists()){
              // atualizar carga horária docente
              var distribuicao = snapshotDistribuicao.val().toArray();

              distribuicao.forEach(function(d){
                var disciplina = disciplinas[d.disciplina];
                var docente = d.docente;

                ref.child('docentes').child(docente).once('value', function(snapshotDocente){
                  if(snapshotDocente.exists()){                    
                    var cargaDocente = snapshotDocente.val().carga || 0;
                    var cargaDisciplina = disciplina.aulas || 0;

                    snapshotDocente.ref().update({
                      carga: cargaDocente - cargaDisciplina
                    });
                  }
                });             
              });

              // remover o conjunto de distribuição de aulas da turma
              snapshotDistribuicao.ref().remove();             
            } 

            // remover turma;
            ref.child('turmas').child(turmaKey).remove();        

            self.set('turmasComFiltro', self.filtrarTurmas(self.filtroAno));
          });          
        });        
      },

      distribuir: function(evt){
        this.domHost.proximo();
        this.set('turma', evt.model.__data__.turma);

        app.changeView({
          title: this.turma.nome,
          state: 'visiting',
          route: 'turmas',
          viewElement: 'sapiens-turma'
        });
      }
    });
  })();
  </script>
</dom-module>
