<dom-module id="sapiens-lista-cursos">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card{
        margin-bottom: 16px;
      }
    </style>

    <section id="lista-cursos" class="page">
      <template is="dom-repeat" items="{{cursos}}" as="curso">
        <paper-card heading="{{curso.nome}}"> 
          <div class="card-content">
            <p><strong>Descrição: </strong><span>{{curso.catalogo}}</span></p>
            <p><strong>Duração: </strong><span>{{curso.duracao}}</span></p>
          </div>

          <div class="card-actions">
            <paper-button on-tap="listar">Listar turmas</paper-button>          
          </div>       
        </paper-card>
      </template>  
    </section>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-lista-cursos',

      properties: {
        curso: {
          type: Object,
          observer: '_cursoChanged',
          notify: true
        },

        matriz: {
          type: Object,
          notify: true
        },

        turmas: {
          type: Array,
          value: [],
          notify: true
        }
      },

      _cursoChanged: function(curso){
        // chamado quando o curso é selecionado
        this.matriz = curso.matriz.toArray();  
      },

      listar: function(evt){
        this.curso = evt.model.__data__.curso;
        this.domHost.proximo();

        app.changeView({
          title: this.curso.nome,
          state: 'visiting',
          route: 'turmas',
          viewElement: 'sapiens-curso' // actions
        });
      }

    });
  })();
  </script>
</dom-module>
