<link rel="import" href="sapiens-turmas-data.html">
<link rel="import" href="sapiens-lista-cursos.html">
<link rel="import" href="sapiens-distribuicao-input.html">
<link rel="import" href="sapiens-curso.html">
<link rel="import" href="sapiens-turma.html">

<dom-module id="sapiens-turmas">
  <template>
    <style>
      neon-animated-pages{
        @apply(--layout-flex);        
      }
    </style>

    <sapiens-turmas-data
      cursos="{{cursos}}"
      curso="{{curso}}"
      matriz="{{matriz}}"
      turma="{{turma}}"
      turmas="{{turmas}}"
      turmas-com-filtro="{{turmasComFiltro}}"
      docentes="{{docentes}}">
    </sapiens-turmas-data>
      
    <neon-animated-pages 
      id="paginas" 
      selected="{{selecionada}}" 
      entry-animation="[[entryAnimation]]" 
      exit-animation="[[exitAnimation]]">

      <neon-animatable>
        <!-- Seleção do curso desejado -->
        <sapiens-lista-cursos 
          cursos="{{cursos}}" 
          matriz="{{matriz}}" 
          curso="{{curso}}">
        </sapiens-lista-cursos>
      </neon-animatable>

      <neon-animatable>
        <!-- Mostrar as turmas do curso desejado -->
        <sapiens-curso
          turmas="{{turmas}}"
          turmas-com-filtro="{{turmasComFiltro}}" 
          curso="{{curso}}"
          turma="{{turma}}"
          matriz="{{matriz}}">
        </sapiens-curso>
      </neon-animatable>

      <neon-animatable>
        <!--  Mostrar turma selecionada -->
        <sapiens-turma 
          turma="{{turma}}"
          matriz="{{matriz}}"
          curso="{{curso}}"
          docentes="{{docentes}}">
        </sapiens-turma>
      </neon-animatable>

    </neon-animated-pages>   

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-turmas',

      properties: {
        selecionada: {
          type: Number,
          value: 0
        }, 

        turmas: {
          type: Array,
          value: [],
          notify: true
        }
      },

      proximo: function() {
        this.entryAnimation = 'slide-from-right-animation';
        this.exitAnimation = 'slide-left-animation';
        this.selecionada = parseInt(this.selecionada + 1);
      }

    });
  })();
  </script>
</dom-module>
