<script src="sapiens-master.js"></script>

<dom-module id="sapiens-master">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-button {
        display: block;
        margin: 24px 0;
      }
      
      paper-button.colorful {
        color: #4285f4;
      }

      paper-button[raised].colorful {
        background: #4285f4;
        color: #fff;
      }
    </style>

    <template is="dom-if" if="{{user.master}}">

      <paper-material class="page">
        <h1>Vamos começar</h1>

        <p>Para que seu <em>campus</em> possa começar a utilizar o Sapiens você deve inicar o procedimento de ciração da base de dados do sistema. Essa etapa é crucial, pois é nesta que define-se quais são os docentes autorizados a utilizar o sistema, quais são os cursos, disciplinas, matrizes e diversas outras entidades que irão compor o Sapiens.</p>
      </paper-material>

      <paper-material class="page">
        <h1>1. Criação de base de dados</h1>

        <p>Selecione uma planilha no Google Docs para criar novas coleções da dados no Sapiens</p>
        <p>Caso não tenha o modelo de planilhas, acesse neste <a target="_blank" href="https://docs.google.com/spreadsheets/d/1s4RmLpAarIVMZXegTNejU1pGWUM_gtvBJeNVHgvRg88">link</a></p>

        <paper-input value="{{sheetId}}" label="ID da planilha"></paper-input>

        <template is="dom-if" if="{{sheetId}}">        
          <google-sheets 
            key="{{sheetId}}" 
            tab-id="1" 
            rows="{{rowsServidores}}" 
            tab="{{tabServidores}}" 
            published>
          </google-sheets>

          <google-sheets 
            key="{{sheetId}}" 
            tab-id="2" 
            rows="{{rowsAreas}}" 
            tab="{{tabAreas}}" 
            published>
          </google-sheets>

          <google-sheets 
            key="{{sheetId}}" 
            tab-id="3" 
            rows="{{rowsModalidades}}" 
            tab="{{tabModalidades}}" 
            published>
          </google-sheets>

          <google-sheets 
            key="{{sheetId}}" 
            tab-id="4" 
            rows="{{rowsCursos}}" 
            tab="{{tabCursos}}" 
            published>
          </google-sheets>

          <google-sheets 
            key="{{sheetId}}" 
            tab-id="5" 
            rows="{{rowsCargos}}" 
            tab="{{tabCargos}}" 
            published>
          </google-sheets>

          <google-sheets 
            key="{{sheetId}}" 
            tab-id="6" 
            rows="{{rowsEscolaridades}}" 
            tab="{{tabEscolaridades}}" 
            published>
          </google-sheets>

          <google-sheets 
            key="{{sheetId}}" 
            tab-id="7" 
            rows="{{rowsEixos}}" 
            tab="{{tabEixos}}" 
            published>
          </google-sheets>

          <div>Servidores: <span>{{rowsServidores.length}}</span> registros</div>
          <div>Áreas: <span>{{rowsAreas.length}}</span> registros</div>
          <div>Modalidades: <span>{{rowsModalidades.length}}</span> registros</div>
          <div>Cursos: <span>{{rowsCursos.length}}</span> registros</div>
          <div>Cargos: <span>{{rowsCargos.length}}</span> registros</div>
          <div>Escolaridades: <span>{{rowsEscolaridades.length}}</span> registros</div>
          <div>Eixos: <span>{{rowsEixos.length}}</span> registros</div>
        </template>
        
      </paper-material>

      <paper-material class="page">
        <h1>Funções identificadas</h1>

        <p>Verifique as funções atribuída antes de finalizar a configuração de dados do Sapiens. Caso houver alguma inconsistência, verifique a planilha de dados utilizada e corrija o que for necessário. </p>

        <ul>
          <li><strong>Direção Geral - DIRGE: </strong> [[dirge.nomecompleto]]</li>
          <li><strong>Direção de Ensino - DIREN: </strong> [[diren.nomecompleto]]</li>
          <li><strong>Coordenação do Eixo de Informação e Comunicação - COINFO: </strong> [[coinfo.nomecompleto]]</li>
          <li><strong>Coordenação de Pesquisa e Inovação - COPEI: </strong> [[copei.nomecompleto]]</li>
          <li><strong>Coordenação de Extensão e Relações Interinstitucionais - COERI: </strong> [[coeri.nomecompleto]]</li>
          <li><strong>Coordenador de Educação à Distância - COEAD: </strong> [[coead.nomecompleto]]</li>
          <li>
            <strong>Pedagogos(as): </strong>
            <ul>
            <template is="dom-repeat" items="{{pedagogas}}">
              <li>[[item.nomecompleto]]</li>
            </template>
            </ul>
          </li>
        </ul>
      </paper-material>
        
      <paper-button raised class="colorful" on-tap="save"><iron-icon icon="save"></iron-icon>Salvar</paper-button>
  
    </template>   

  </template>
  <script>
  (function() {
    'use strict';    

    Polymer({
      is: 'sapiens-master',

      properties: {
        active: {
          type: Boolean,
          notify: true  
        },

        rowsServidores: { observer: '_rowsServidoresCompleted' },
        rowsAreas: { observer: '_rowsAreasCompleted' },
        rowsModalidades: { observer: '_rowsModalidadesCompleted' },
        rowsCursos: { observer: '_rowsCursosCompleted' },
        rowsCargos: { observer: '_rowsCargosCompleted' },
        rowsEscolaridades: { observer: '_rowsEscolaridadesCompleted' },
        rowsEixos: { observer: '_rowsEixosCompleted' },

        data: {
          type: Object,
          value: {},
          notify: true
        },

        servidores: {
          type: Array,
          value: [],
          notify: true
        },

        pedagogas: {
          type: Array,
          value: [],
          notify: true
        }
      },

      _rowsServidoresCompleted: function(n){
        this.data.servidores = app.slugify(SapiensOpensheet.parse(n), 'email', function(email){
          return email.split('@')[0].replace('.', '-');
        });

        var servidores = this.data.servidores;
        var self = this;

        this.servidores = Object.keys(servidores).map(function (key) {
          servidores[key].key = key;

          servidores[key][servidores[key].funcao.toLowerCase()] = true;

          if (servidores[key].funcao !== 'DOCENTE' && servidores[key].funcao !== 'PEDAG'){
            self[servidores[key].funcao.toLowerCase()] = servidores[key];
          }

          if(servidores[key].funcao === 'PEDAG'){
            self.push('pedagogas',servidores[key]);
          }

          if(servidores[key].funcao !== 'PEDAG'){
            servidores[key].docente = true;
          }

          return servidores[key];
        });
      },

      _rowsAreasCompleted: function(n){
        this.data.areas = app.slugify(SapiensOpensheet.parse(n), 'nome');
      },

      _rowsModalidadesCompleted: function(n){
        this.data.modalidades = app.slugify(SapiensOpensheet.parse(n), 'nome');
      },

      _rowsCursosCompleted: function(n){

        this.data.cursos = app.slugify(SapiensOpensheet.parse(n), 'nome');      

        /* TODO
  
            Pegar lista de disciplinas da matriz e adicionar 
            no objeto matriz de cado curso
        */

        var cursos = this.data.cursos; 

        Object.keys(cursos).forEach(function(key) {
          var curso = cursos[key];

          if (curso.matriz){
            var self = this;
            var sheet = document.createElement('google-sheets');              

            sheet.key = curso.matriz;
            sheet.published = true;  

            sheet.addEventListener('google-sheet-data', function(e) {
              curso.matriz = app.slugify(SapiensOpensheet.parse(this.rows), 'disciplina', function(nomeDisciplina, disciplina){
                  return app.slug(nomeDisciplina) + '-' + disciplina.semestre;
                }); 
            });    
          }
        });
      },

      _rowsCargosCompleted: function(n){
        this.data.cargos = app.slugify(SapiensOpensheet.parse(n), 'nome');
      },

      _rowsEscolaridadesCompleted: function(n){
        this.data.escolaridades = app.slugify(SapiensOpensheet.parse(n), 'nome');
      },

      _rowsEixosCompleted: function(n){
        this.data.eixos = app.slugify(SapiensOpensheet.parse(n), 'nome');
      },

      entrar: function(evt){
        var self = this;

        /* Comparar senha master com a senha na base de dados */
        self.db.child('master').on('value', function(snapshot){          
          if (self.senha === snapshot.val().secret){
            /* Ativar o modo administrativo */
            self.db.child('master/active').set(true);
            app.master = true;
          }else{
            app.$.toast.text = 'Senha incorreta';
            app.$.toast.show();
          }
        });        
      },

      ready: function(){
        this.db = new Firebase('https://blazing-inferno-2038.firebaseio.com/');
        this.app = app;

        var self = this;

        this.db.child('master').on('value', function(snapshot){
          self.active = snapshot.val().active;
          app.active = self.active;
        });
      },

      save: function(){
        var self = this;
        var servidores = this.data.servidores.toArray();
        var areas = this.data.areas.toArray();
        var modalidades = this.data.modalidades.toArray();
        var cursos = this.data.cursos.toArray();
        var cargos = this.data.cargos.toArray();
        var escolaridades = this.data.escolaridades.toArray();
        var eixos = this.data.eixos.toArray();

        servidores.forEach(function(servidor){
          self.db.child('servidores').child(servidor.key).update(servidor);
        });

        areas.forEach(function(area){
          self.db.child('areas').child(area.key).update(area);
        });

        modalidades.forEach(function(modalidade){
          self.db.child('modalidades').child(modalidade.key).update(modalidade);
        });

        cursos.forEach(function(curso){
          self.db.child('cursos').child(curso.key).update(curso);
        });

        cargos.forEach(function(cargo){
          self.db.child('cargos').child(cargo.key).update(cargo);
        });

        escolaridades.forEach(function(escolaridade){
          self.db.child('escolaridades').child(escolaridade.key).update(escolaridade);
        });

        eixos.forEach(function(eixo){
          self.db.child('eixos').child(eixo.key).update(eixo);
        });        

        this.data = [];
      }
    });
  })();
  </script>
</dom-module>
