<dom-module id="sapiens-plano-data">
	<template>	
	</template>
	<script>
		Polymer({
			is: 'sapiens-plano-data',

			properties: {
				planos: {
					type: Array,
					notify: true,
					value: []
				},

				planosComFiltro: {
					type: Array,
					notify: true,
					value: []
				}
			},

			ready: function () {
				var self = this;

				var refPlanos = new Firebase("https://blazing-inferno-2038.firebaseio.com/planos");    
				var refDisciplinas = new Firebase("https://blazing-inferno-2038.firebaseio.com/cursos");    
				var refTurmas = new Firebase("https://blazing-inferno-2038.firebaseio.com/turmas");    
				var refUsuarios = new Firebase("https://blazing-inferno-2038.firebaseio.com/users"); 
				var refServidores = new Firebase("https://blazing-inferno-2038.firebaseio.com/servidores");    

				var planos = [];

				refPlanos
					.on('value', function(snapshotPlanos){
					if(snapshotPlanos.exists()){
						planos = snapshotPlanos.val().toArray();

						self.set('planosComFiltro', []);						
						
						planos.forEach(function(plano, i){
							if (plano.docente){
								var key = plano.docente;
								refUsuarios
									.child(plano.docente)
									.once('value')
									.then(function(snapshotUsuario){
										if (snapshotUsuario.exists()){
											var usuario = snapshotUsuario.val();											
											refServidores.child(key).once('value').then(function(snapshotDocente){
												self.set('planos.' + i + '.docente', snapshotDocente.val().nomecompleto);
												self.set('planos.' + i + '.avatar', usuario.google.profileImageURL);
											});											
										}
									});

								refDisciplinas
									.child(plano.curso)
									.once('value')
									.then(function(snapshotDisciplina){
										self.set('planos.' + i + '.curso', snapshotDisciplina.val().nome);
									});

								refDisciplinas
									.child(plano.curso + '/matriz/' + plano.disciplina)
									.once('value')
									.then(function(snapshotDisciplina){
										self.set('planos.' + i + '.disciplina', snapshotDisciplina.val());
									});

								refTurmas
									.child(plano.turma)
									.once('value')
									.then(function(snapshotTurma){
										self.set('planos.' + i + '.turma', snapshotTurma.val());

										if (snapshotTurma.val().ano === app.anoAtual){
											self.push('planosComFiltro', plano);
										}
									});
							}							
						});

						self.set('planos', planos);	
					}					
				});
			}
		});
	</script>
</dom-module>