<link rel="import" href="../sapiens-disciplinas/sapiens-modelo-plano.html">

<dom-module id="sapiens-plano-view">
	<template>
		<style>
			:host {
				display: block;
				@apply(--layout-vertical);
			}		

			paper-card{
				@apply(--layout-flex);
				margin-bottom: 16px;
			}

			.spacer{
				@apply(--layout-flex)
			}

			.card-heading{
				@apply(--layout-horizontal);
				padding: 0 16px;
			}

			.card-heading h1{
				font-size: 24px;
				font-weight: 400;
			}

			.card-heading paper-icon-button{
				margin-top: 16px;
			}

			h1.subtitle{
				border-top: solid 1px rgba(0,0,0,0.1);
			    color: rgba(0,0,0,0.4);
			    font-size: 14px;
			    font-weight: 400;
			    padding: 8px;			    
			    text-transform: uppercase;
			}

			[class^="avaliacoes"] ul{
				list-style: none;
			}
			
			simple-material-table {
    			white-space: wrap;
    		}		

			paper-dialog{
				min-width: 70%;
			}

			paper-textarea{
				margin-bottom: 24px;
			}

			.page{
				@apply(--layout-vertical);
			}
		</style>
		
		<sapiens-toolbar-actions>
			<div class="left">
		        <paper-icon-button icon="arrow-back" on-tap="back"></paper-icon-button> 
		    </div>
			<div class="right">
				<paper-icon-button 
					id="visualizar-plano"
					icon="open-in-new" 
					on-tap="viewAction"></paper-icon-button>
	          	<paper-tooltip for="visualizar-plano" position="bottom">Visualizar plano de ensino</paper-tooltip>

	          	<paper-icon-button 
	          		id="imprimir-plano-diren" 
	          		icon="print" 
	          		on-tap="printAction"></paper-icon-button>
	          	<paper-tooltip for="imprimir-plano-diren" position="bottom">Imprimir plano</paper-tooltip>
	        </div>
		</sapiens-toolbar-actions>

		<sapiens-modelo-plano id="modeloPlano"></sapiens-modelo-plano>

		<div class="page">
			<paper-card heading="Informações básicas">
				<div class="card-content">
			    	<div><strong>Disciplina: </strong><span>{{planoSelecionado.disciplina.disciplina}}</span></div>
			    	<div><strong>Curso: </strong><span>{{planoSelecionado.curso}}</span></div>
			    	<div><strong>Turma: </strong><span>{{planoSelecionado.turma.nome}}</span></div>
			    	<div><strong>Ano: </strong><span>{{planoSelecionado.turma.ano}}</span></div>
			    	<div><strong>Docente: </strong><span>{{planoSelecionado.docente}}</span></div>
			    	<div><strong>Situação: </strong>
			    		<paper-radio-group 
			    			selected="{{planoSelecionado.status}}"
			    			on-change="statusAlterado">
				            <paper-radio-button name="enviado">Aberto</paper-radio-button>
				            <paper-radio-button name="pendente">Pendente</paper-radio-button>
				            <paper-radio-button name="aprovado">Aprovado</paper-radio-button>	            
				        </paper-radio-group>	
			    	</div>		    
			    </div>
		    </paper-card>

		    <paper-card heading="Ementas">
				<div class="card-content">
			    	<ul>
		              <template is="dom-repeat" items="{{ementas}}" as="ementa">
		                <li>{{ementa}}</li>            
		              </template>            
		            </ul>	    
			    </div>
		    </paper-card>

		    <paper-card>
		    	<div class="card-heading">
		    		<h1>Objetivo Geral</h1>
		    		<span class="spacer"></span>
		    		<paper-icon-button id="icon-correcao-obj-geral" icon="create" on-tap="abrirCorrecaoObjGeral"></paper-icon-button>
		    		<paper-tooltip
		    		  for="icon-correcao-obj-geral"
		    		  position="left"
		    		  offset="14">Sugegir correção no objetivo geral	    		  
		    		</paper-tooltip>
		    	</div>
				<div class="card-content">
			    	<div>{{planoSelecionado.objetivoGeral}}</div>
			    </div>
		    </paper-card>

		    <paper-dialog id="modalObjGeral" modal>
		    	<h2>Correção - Objetivo Geral</h2>
		    	<paper-textarea 
	    			label="Descreva aqui as correções necessárias para o objetivo geral"
	    			value="{{planoSelecionado.correcoes.objetivoGeral}}"
	    			char-counter maxlength="500">
	    		</paper-textarea>
		    	<div class="buttons">
		    		<paper-button dialog-dismiss>Cancelar</paper-button>
		    		<paper-button 
		    			dialog-confirm 
		    			hidden$="{{!planoSelecionado.correcoes.objetivoGeral}}"
		    			data-secao="objetivoGeral" 
		    			on-tap="correcaoRealizada">Correção realizada</paper-button>
		        	<paper-button 
		        		dialog-confirm 
		        		autofocus 
		        		data-secao="objetivoGeral" 
		        		on-tap="salvarCorrecoes">Salvar</paper-button>
		      	</div>
		    </paper-dialog>

		    <paper-card>
		    	<div class="card-heading">
		    		<h1>Objetivos Específicos</h1>
		    		<span class="spacer"></span>
		    		<paper-icon-button id="icon-correcao-obj-especificos" icon="create"  on-tap="abrirCorrecaoObjEspecificos"></paper-icon-button>
		    		<paper-tooltip
		    		  for="icon-correcao-obj-especificos"
		    		  position="left"
		    		  offset="14">Sugegir correção nos objetivos específicos	    		  
		    		</paper-tooltip>
		    	</div>
				<div class="card-content">
			    	<div>{{planoSelecionado.objetivosEspecificos}}</div>
			    </div>
		    </paper-card>

		    <paper-dialog id="modalObjEspecificos" modal>
		    	<h2>Correção - Objetivos Específicos</h2>
		    	<paper-textarea 
	    			label="Descreva aqui as correções necessárias para os objetivos específicos"
	    			value="{{planoSelecionado.correcoes.objetivosEspecificos}}"
	    			char-counter maxlength="500">
	    		</paper-textarea>
		    	<div class="buttons">
		    		<paper-button dialog-dismiss>Cancelar</paper-button>
		    		<paper-button 
		    			dialog-confirm 
		    			hidden$="{{!planoSelecionado.correcoes.objetivosEspecificos}}"
		    			data-secao="objetivosEspecificos" 
		    			on-tap="correcaoRealizada">Correção realizada</paper-button>
		        	<paper-button 
		        		dialog-confirm 
		        		autofocus 
		        		data-secao="objetivosEspecificos" 
		        		on-tap="salvarCorrecoes">Salvar</paper-button>
		      	</div>
		    </paper-dialog>

			<paper-card>
		    	<div class="card-heading">
		    		<h1>Avaliações</h1>
		    		<span class="spacer"></span>
		    		<paper-icon-button id="icon-correcao-avaliacao" icon="create" on-tap="abrirCorrecaoAvaliacoes"></paper-icon-button>
		    		<paper-tooltip
		    		  for="icon-correcao-avaliacao"
		    		  position="left"
		    		  offset="14">Sugegir correção nas avaliações   		  
		    		</paper-tooltip>
		    	</div>
				<div class="card-content">
					<div class="avaliacoes-primeiro-bimestre">
						<h1 class="subtitle">Avaliações do primeiro bimestre</h1>
						<ul>
						<template is="dom-repeat" items="{{planoSelecionado.avaliacoesPrimeiroBimestre}}" as="avaliacao">
							<li><strong>{{avaliacao.sigla}}</strong>: <span>{{avaliacao.instrumento}}</span>, com peso <span>{{avaliacao.peso}}</span>, valendo no máximo <span>{{avaliacao.maximo}}</span></li>
						</template>	
							<li hidden$="{{!planoSelecionado.observacoesPrimeiroBimestre}}"><p><strong>Observações: </strong> <span>{{planoSelecionado.observacoesPrimeiroBimestre}}</span></p> </li>	   	
						</ul>				
					</div>

					<div class="avaliacoes-segundo-bimestre">
						<h1 class="subtitle">Avaliações do segundo bimestre</h1>
						<ul>
						<template is="dom-repeat" items="{{planoSelecionado.avaliacoesSegundoBimestre}}" as="avaliacao">
							<li><strong>{{avaliacao.sigla}}</strong>: <span>{{avaliacao.instrumento}}</span>, com peso <span>{{avaliacao.peso}}</span>, valendo no máximo <span>{{avaliacao.maximo}}</span></li>
						</template>	
							<li hidden$="{{!planoSelecionado.observacoesSegundoBimestre}}"><p><strong>Observações: </strong> <span>{{planoSelecionado.observacoesSegundoBimestre}}</span></p> </li>	    	
						</ul>				
					</div>
			    </div>
		    </paper-card>

		    <paper-dialog id="modalAvaliacoes" modal>
		    	<h2>Correção - Avaliações</h2>
		    	<paper-textarea 
	    			label="Descreva aqui as correções necessárias para as avaliações"
	    			value="{{planoSelecionado.correcoes.avaliacoes}}"
	    			char-counter maxlength="500">
	    		</paper-textarea>
		    	<div class="buttons">
		    		<paper-button dialog-dismiss>Cancelar</paper-button>
		    		<paper-button 
		    			dialog-confirm 
		    			hidden$="{{!planoSelecionado.correcoes.avaliacoes}}"
		    			data-secao="avaliacoes" 
		    			on-tap="correcaoRealizada">Correção realizada</paper-button>
		        	<paper-button 
		        		dialog-confirm 
		        		autofocus 
		        		data-secao="avaliacoes" 
		        		on-tap="salvarCorrecoes">Salvar</paper-button>
		      	</div>
		    </paper-dialog>

		    <paper-card>
		    	<div class="card-heading">
		    		<h1>Recuperação</h1>
		    		<span class="spacer"></span>
		    		<paper-icon-button id="icon-correcao-recuperacao" icon="create" on-tap="abrirCorrecaoRecuperacao"></paper-icon-button>
		    		<paper-tooltip
		    		  for="icon-correcao-recuperacao"
		    		  position="left"
		    		  offset="14">Sugegir correção na recuperação		  
		    		</paper-tooltip>
		    	</div>
				<div class="card-content">
			    	<div>{{planoSelecionado.recuperacao}}</div>
			    </div>
		    </paper-card>

		    <paper-dialog id="modalRecuperacao" modal>
		    	<h2>Correção - Recuperação</h2>
		    	<paper-textarea 
	    			label="Descreva aqui as correções necessárias para a recuperação"
	    			value="{{planoSelecionado.correcoes.recuperacao}}"
	    			char-counter maxlength="500">
	    		</paper-textarea>
		    	<div class="buttons">
		    		<paper-button dialog-dismiss>Cancelar</paper-button>
		    		<paper-button 
		    			dialog-confirm 
		    			hidden$="{{!planoSelecionado.correcoes.recuperacao}}"
		    			data-secao="recuperacao" 
		    			on-tap="correcaoRealizada">Correção realizada</paper-button>
		        	<paper-button 
		        		dialog-confirm 
		        		autofocus 
		        		data-secao="recuperacao" 
		        		on-tap="salvarCorrecoes">Salvar</paper-button>
		      	</div>
		    </paper-dialog>

		    <paper-card>
		    	<div class="card-heading">
		    		<h1>Metodologia</h1>
		    		<span class="spacer"></span>
		    		<paper-icon-button id="icon-correcao-metodologia" icon="create" on-tap="abrirCorrecaoMetodologia"></paper-icon-button>
		    		<paper-tooltip
		    		  for="icon-correcao-metodologia"
		    		  position="left"
		    		  offset="14"> Sugegir correção na metodologia   		  
		    		</paper-tooltip>
		    	</div>
				<div class="card-content">
					<p>O docente atribuiu [[planoSelecionado.aulasAtribuidas]] aula(s) de [[planoSelecionado.maximoAulas]], conforme segue: </p>
					
					<div class="conteudos">
						<simple-material-table 
							id="conteudos" 
							title="Conteúdos" 
							columns="[[colunasConteudos]]" 
							table-data="[[conteudos]]">
					    </simple-material-table>
					</div>
			    </div>
		    </paper-card>

		    <paper-dialog id="modalMetodologia" modal>
		    	<h2>Correção - Metodologia</h2>
		    	<paper-textarea 
	    			label="Descreva aqui as correções necessárias para a metodologia"
	    			value="{{planoSelecionado.correcoes.metodologia}}"
	    			char-counter maxlength="500">
	    		</paper-textarea>
		    	<div class="buttons">
		    		<paper-button dialog-dismiss>Cancelar</paper-button>
		    		<paper-button 
		    			dialog-confirm 
		    			hidden$="{{!planoSelecionado.correcoes.metodologia}}"
		    			data-secao="metodologia" 
		    			on-tap="correcaoRealizada">Correção realizada</paper-button>
		        	<paper-button 
		        		dialog-confirm 
		        		autofocus 
		        		data-secao="metodologia" 
		        		on-tap="salvarCorrecoes">Salvar</paper-button>
		      	</div>
		    </paper-dialog>
		</div>
	</template>
	<script>
		Polymer({
			is: 'sapiens-plano-view',

			properties: {
		      	planoSelecionado: {
					type: Object,
					notify: true,
					observer: 'planoSelecionadoChanged'
				},

				ementas: {
		        	type: Array,
		          	notify: true,
		          	computed: '_ementas(planoSelecionado.disciplina.ementa)'
		        },

		        semanas: {
		          type: Number,
		          value: 20
		        }
		    },

		    copyAction: function(evt){
				alert('Copying');
			},

			_prepararPlano: function(action){
				var refCursos = new Firebase('https://blazing-inferno-2038.firebaseio.com/cursos');
		    	var plano = this.planoSelecionado.clone();
		    	var viewPlano = this.$.modeloPlano;

		    	refCursos
		    		.orderByChild('nome')
		    		.equalTo(plano.curso)
		    		.on('value', function(snapshotCurso){
		    			plano.disciplina.curso = snapshotCurso.val().toArray()[0];
		    			plano.disciplina.turma = plano.turma;

		    			delete plano.turma;
		    			viewPlano.plano = plano;

		    			if (action === 'view'){
		    				viewPlano.view();
		    			}else{
		    				if(action === 'print'){
		    					viewPlano.print();	
		    				}
		    			}
		    		});	
			},

		    viewAction: function(){
		    	this._prepararPlano('view'); 			    	
		    },

		    printAction: function(){
		    	this._prepararPlano('print');
		    },

		    planoSelecionadoChanged: function(planoSelecionado){
		    	if (planoSelecionado) {
		    		function formatarArray(array, separator){
		    			if(array){
		    				return array.join(separator);
		    			}

		    			return '';
		    		}

		    		if (!this.planoSelecionado.correcoes){
		    			this.planoSelecionado.correcoes = []	
		    		}	    		

		    		this.set('conteudos', planoSelecionado.topicos);
		    		this.set('colunasConteudos', [
						{
				          title: 'Conteúdo',
				          number: false,
				          column: 'topico',
				          hidden: false
				        }, 

				        {
				          title: 'Aulas',
				          number: true,
				          column: 'aulas',
				          hidden: false
				        }, 

				        {
				          title: 'Técnicas',
				          number: false,
				          column: 'tecnicasEnsino',
				          formatter: function(value){
				            return formatarArray(value, '; ')
				          },
				          hidden: false
				        }, 

				        {
				          title: 'Recursos',
				          number: false,
				          column: 'recursosEnsino',
				          formatter: function(value){
				            return formatarArray(value, '; ')
				          },
				          hidden: false
				        }, 

				        {
				          title: 'Avaliação',
				          number: false,
				          column: 'instrumentosAvaliacao',
				          formatter: function(value){
				            return formatarArray(value, '; ')
				          },
				          hidden: false
				        }
				    ]);
		    	}
		    },

		    abrirCorrecaoObjGeral: function(evt){
		    	this.$.modalObjGeral.open();
		    },

		    abrirCorrecaoObjEspecificos: function(evt){
		    	this.$.modalObjEspecificos.open();
		    },

		    abrirCorrecaoAvaliacoes: function(evt){
		    	this.$.modalAvaliacoes.open();
		    },

		    abrirCorrecaoRecuperacao: function(evt){
		    	this.$.modalRecuperacao.open();
		    },

		    abrirCorrecaoMetodologia: function(evt){
		    	this.$.modalMetodologia.open();
		    },

		    _ementas: function(ementas){
		        if(ementas){
		          return ementas.split(';');  
		        }        
		    },

		    back: function() {
		        var parent = this.domHost;

		        parent.entryAnimation = 'slide-from-left-animation';
		        parent.exitAnimation = 'slide-right-animation';
		        parent.set('selecionada', parseInt(parent.selecionada - 1));

		        app.changeView({
			        title: 'Planos de Ensino',
			        state: 'normal',
			        route: 'diren-planos'
			    });
		    },

		    salvarCorrecoes: function(evt){
		    	var secao = evt.target.dataset.secao;
				var correcao = this.planoSelecionado.correcoes[secao];
		    	var refPlanos = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');

		    	refPlanos
		    		.child(this.planoSelecionado.key)
		    		.child('correcoes/' + secao)
		    		.set(correcao);
		    },

		    correcaoRealizada: function(evt){
		    	var secao = evt.target.dataset.secao;
				delete this.planoSelecionado.correcoes[secao];
		    	var refPlanos = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');

		    	refPlanos
		    		.child(this.planoSelecionado.key)
		    		.child('correcoes')
		    		.set(this.planoSelecionado.correcoes);

		    	this.set('planoSelecionado.correcoes.' + secao, null);
		    },

		    statusAlterado: function(evt){
		    	var status = evt.target.name;
		    	var refPlano = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');

		    	refPlano
		    	 	.child(this.planoSelecionado.key)
		    	 	.child('status')
		    	 	.set(status);
		    }

		});
	</script>
</dom-module>