<link rel="import" href="sapiens-plano-item.html">

<dom-module id="sapiens-plano-list">
	<template>
		<style>
			:host {
				display: block;
				margin: 0;
			}

			iron-list {
      			padding-bottom: 16px;
    		}

		    .spacer {
		    	@apply(--layout-flex);
		    }

		    #filtro{
		    	-webkit-box-sizing: border-box;
		    	-moz-box-sizing: border-box;
		    	box-sizing: border-box;
		    	width: 300px;
		    	position: fixed;
		    	left: auto;
		    	right: 0;
		    	height: 100%;
		    	background: #FFFFFF;	
		    	border-left: 1px solid rgba(0, 0, 0, 0.1);	    	
		    }

		    #filtro .content section{
		    	padding: 8px 24px 32px 24px;
		    }

		    .content section{
		    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		    	margin-bottom: 8px;
		    	padding-bottom: 48px; 
		    }

		    .content section:last-of-type{
				border: none;
		    }

		    .drawer-title h1{
		    	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
		    	color: #727272;		    	
		    	font-size: 16px;
		    	font-weight: 400;
    			line-height: 64px;				
				padding: 0 24px;
		    }

		    .section-title h1{
		    	color: #727272;
		    	font-size: 14px;
			    font-weight: 400;
			    line-height: 20px;
		    }

		    #lista-planos{
		    	@apply(--layout-flex);
		    	margin-left: 16px;
		    	width: calc(100% - 332px);
		    }

		    paper-checkbox{
		    	display: block;
		    }
		</style>	

		<div id="filtro">
			<div class="drawer-title">
				<h1>Filtrar Planos de Ensino</h1>
			</div>

			<div class="content">
				<section>
					<div class="section-title">
						<h1>Categoria</h1>
					</div>

					<paper-dropdown-menu label="Selecione o status">
					  	<paper-menu class="dropdown-content" selected="{{filtroCategoria}}" attr-for-selected="value" >
						  	<paper-item value="todos">Todos</paper-item>
						    <paper-item value="enviado">Enviados</paper-item>
						    <paper-item value="pendente">Pendentes</paper-item>
						    <paper-item value="aprovado">Aprovados</paper-item>
						</paper-menu>
					</paper-dropdown-menu>					
				</section>

				<section>
					<div class="section-title">
						<h1>Ano</h1>
					</div>

					<paper-dropdown-menu label="Selecione o ano/semestre">
					  	<paper-menu class="dropdown-content" selected="{{filtroAno}}" attr-for-selected="value" >
						  	<paper-item value="todos">Todos</paper-item>
			                <paper-item value="2016/1">2016/1</paper-item>
			                <paper-item value="2016/2">2016/2</paper-item>
			                <paper-item value="2017/1">2017/1</paper-item>
			                <paper-item value="2017/2">2017/2</paper-item>
			                <paper-item value="2018/1">2018/1</paper-item>
			                <paper-item value="2018/2">2018/2</paper-item>
						</paper-menu>
					</paper-dropdown-menu>					
				</section>

				<section>
					<div class="section-title">
						<h1>Docente</h1>
						<paper-input 
							label="Nome do docente"
							value="{{nomeDocente}}"
							on-keyup="_docenteChanged"></paper-input>
					</div>	
				</section>		
			</div>
		</div>

	  	<div id="lista-planos"> 			
			<iron-list 
				id="listaPlanos" 
				items=[[planosComFiltro]]
				as="plano" 
				selection-enabled>
		        <template>
		        	<sapiens-plano-item 
		        		plano="{{plano}}"
		        		on-tap="selecionarPlano"></sapiens-plano-item>       
	    		</template>
			</iron-list>	  
		</div>
	</template>
	<script>
		Polymer({
			is: 'sapiens-plano-list',

			properties: {
				planos: {
					type: Array,
					notify: true
				},

				planosComFiltro: {
					type: Array,
					notify: true
				},

				filtroCategoria: {
					type: String,
					value: 'todos',
					notify: true
				},

				filtroAno: {
		          type: String,
		          notify: true
		        },

		        nomeDocente: {
		          type: String,
		          value: '',
		          notify: true
		        },

				planoSelecionado: {
					type: Object,
					notify: true
				},

				checkedAbertos: {
					type: Boolean,
					value: true,
					notify: true
				},

				checkedPendentes: {
					type: Boolean,
					value: true,
					notify: true
				},

				checkedAprovados: {
					type: Boolean,
					value: true,
					notify: true
				}
			},

			observers: [
				'planosChanged(planos)',
				'planosComFiltroChanged(planosComFiltro)',
				'filtroCategoriaChanged(filtroCategoria)',
				'filtroAnoChanged(filtroAno)'
			],

			filtroAnoChanged: function(filtro){
		        this.set('planosComFiltro', this.filtrarPlanos(filtro));  		    
		    },

			filtroCategoriaChanged: function(filtro){
				this.set('planosComFiltro', this.filtrarPlanos(filtro));
			},

			planosComFiltroChanged: function(planosComFiltro){
				if (planosComFiltro){
					this.querySelector('iron-list').notifyResize();
				}
			},

			planosChanged: function(planos){
				if(planos){
					this.set('planosComFiltro', this.filtrarPlanos('todos'));	
					this.set('filtroAno', app.anoAtual);
					this.set('filtroCategoria', 'todos');
				}				
			},

			filtrarPlanos: function(filtro){
				var planos = this.planos;
				var filtroAno = this.filtroAno;
				var filtroCategoria = this.filtroCategoria;

				if (planos){
					if (filtroCategoria === 'todos' && filtroAno === 'todos'){
						return planos.filter(function(plano){
							return plano.status !== 'criado';
						});
					} else {
						if (filtroCategoria === 'todos'){
							return planos.filter(function(plano){
								return plano.status !== 'criado' && plano.turma.ano === filtroAno;	
							});
						} else {
							if (filtroAno === 'todos'){
								return planos.filter(function(plano){
									return plano.status !== 'criado' &&  plano.status === filtroCategoria;	
								});
							} else {
								return planos.filter(function(plano){
									return plano.status !== 'criado' &&  plano.status === filtroCategoria && plano.turma.ano === filtroAno;	
								});
							}
						}
					}
				}
			},

			_docenteChanged: function(evt){				
				var nomeDocente = this.nomeDocente.toLowerCase();

				if (nomeDocente === ''){
					this.set('planosComFiltro', this.filtrarPlanos());	
				}else {
					var planosComFiltro = this.planosComFiltro.filter(function(plano){
						return plano.docente.toLowerCase().indexOf(nomeDocente) !==  -1;
					})

					this.set('planosComFiltro', planosComFiltro);	
				}				
			},

	        selecionarPlano: function(evt){
	        	var parent = this.domHost;

	        	function proximo(disciplina){
	        		parent.$.pages.selected = 1;
	        		
	        		app.changeView({
				        title: parent.planoSelecionado.disciplina.disciplina,
				        viewElement: 'sapiens-plano-view' // actions
				    });
	        	}

	        	var planoSelecionado = evt.model.get('plano');

	        	if (planoSelecionado){
	        		this.set('planoSelecionado', planoSelecionado);
	        		proximo();	        			
	        	}else{
	        		// plano já estava selecionado na lista
	        		if(this.planoSelecionado){
	        			proximo();
	        		}
	        	}	        	
	        },

	        ready: function(){
	        	this.set('filtroAno', app.anoAtual);
	        	this.set('filtroCategoria', 'todos');
	        }
		});
	</script>
</dom-module>