<link rel="import" href="sapiens-plano-data.html">
<link rel="import" href="sapiens-plano-list.html">
<link rel="import" href="sapiens-plano-view.html">

<dom-module id="sapiens-diren-planos">
	<template>
		<style>
			:host {
				display: block;
			}

		    neon-animated-pages {
		        height: 100%;
		    }
		</style>

		<sapiens-plano-data 
			planos="{{planos}}"
			planos-com-filtro="{{planosComFiltro}}"
		></sapiens-plano-data>
		
		<div>			
		    <neon-animated-pages 
		    	id="pages" 
		    	selected="{{selecionada}}"
		    	entry-animation="slide-from-left-animation" 
  	            exit-animation="slide-left-animation">
		  		<neon-animatable>
				    <sapiens-plano-list 
				    	planos="{{planos}}" 
				    	planos-com-filtro="{{planosComFiltro}}"
				    	plano-selecionado="{{planoSelecionado}}"
				    	on-item-click="_onItemClick">
				    </sapiens-plano-list>
		    	</neon-animatable>
		    	<neon-animatable>
					<sapiens-plano-view 
						plano-selecionado="{{planoSelecionado}}"
						on-close="_onClose">
					</sapiens-plano-view>
		    	</neon-animatable>
			</neon-animated-pages>						
		</div>
	</template>
	<script>
		Polymer({
			is: 'sapiens-diren-planos',

			properties: {
				planos: {
					type: Array,
					notify: true
				},

				planoSelecionado: {
					type: Object,
					notify: true
				},

				selecionada: {
					type: Number,
					notify: true,
					value: 0
				}
			}
		});
	</script>
</dom-module>