<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sapiens-docentes-data">
  	<template>
  		<firebase-collection
	      location="https://blazing-inferno-2038.firebaseio.com/areas"
	      data="{{areas}}">
	    </firebase-collection>

	    <firebase-collection
	      location="https://blazing-inferno-2038.firebaseio.com/cargos"
	      data="{{cargos}}">
	    </firebase-collection>
  	</template>

  	<script>
  	(function() {
    	'use strict';

    	Polymer({
    		is: 'sapiens-docentes-data',

    		properties: {
    			docentes: {
    				type: Array,
    				value: [],
    				notify: true
    			},

    			docentesComFiltro: {
    				type: Array,
    				value: [],
    				notify: true
    			},

    			areas: {
		          type: Object,
		          notify: true
		        },

		        cargos: {
		          type: Object,
		          notify: true
		        }		        
    		},

    		ready: function(){
    			var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');
    			var refDistribuicao = new Firebase('https://blazing-inferno-2038.firebaseio.com/distribuicao');
    			var refCursos = new Firebase('https://blazing-inferno-2038.firebaseio.com/cursos');
    			var refTurmas = new Firebase('https://blazing-inferno-2038.firebaseio.com/turmas');

		        var self = this;

		        refServidores
		          .orderByChild('docente')
		          .equalTo(true)
		          .on('value', function(snapshotDocentes){
		            if (snapshotDocentes.exists()){
		              var docentes = snapshotDocentes.val();
		              
		              for (var key in docentes){
		              	docentes[key].disciplinas = [];
		              	docentes[key].carga = 0;
		              }

		              refDistribuicao.on('value', function(snapshotDistribuicao){
		              	var distribuicao = snapshotDistribuicao.val().toArray();

		              	distribuicao.forEach(function(turma){
		              		var disciplinas = turma.toArray();

		              		disciplinas.forEach(function(disciplina){
		              			if (typeof disciplina === 'object'){
		              				var disciplinaKey = disciplina.disciplina;
									var docenteKey = disciplina.docente;

									refTurmas.child(turma.key).on('value', function(snapshotTurma){
				              		 	var turma = snapshotTurma.val();
				              		 	var disciplinasDaTurma = turma.disciplinas;
				              		 	
				              		 	disciplinasDaTurma.forEach(function(d){
				              		 		if (d.key === disciplinaKey){
				              		 			refCursos.child(turma.curso).on('value', function(snapshotCurso){
				              		 				var curso = snapshotCurso.val();
				              		 				d.turma = {
					              		 				ano: turma.ano,
					              		 				nome: turma.nome,
					              		 				periodo: turma.periodo,
					              		 				curso: curso
					              		 			};

					              		 			docentes[docenteKey].disciplinas.push(d); 

					              		 			if (turma.ano === app.anoAtual){
				              		 					docentes[docenteKey].carga += +d.aulas;
				              		 				}
				              		 			});				              		 			
				              		 		}
				              		 	}); 		
		              				});
								}
		              		});		              		
		              	});

		              	self.set('docentes', docentes.toArray());
		              	self.set('docentesComFiltro', docentes.toArray());
		              });             
		            }
		        });
    		}
    	});
	})();
   	</script>
</dom-module>