<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="../../bower_components/paper-datatable/paper-datatable-card.html">
<link rel="import" href="sapiens-docentes-data.html">

<dom-module id="sapiens-docentes">
  <template>
      <style>
        :host {
          display: block;
        }

        paper-dialog{
          width: 90%;
          height: 90vh;
        }

        paper-dialog{
          @apply(--layout-vertical);
        }

        paper-dialog-scrollable{
          @apply(--layout-flex);
        }

        iron-pages > section{
          padding: 16px;
        }

        paper-card{
          --paper-card-header-text: {
            font-size: 20px !important;
          };

          --paper-card-header: {
            padding: 10px;
          }
        }

        .toolbar-main{
          position: absolute;
          right: 24px;
          top: 16px;
        }

        paper-dropdown-menu{
          width: 100%;
        }
      </style>
    <sapiens-docentes-data 
      docentes="{{docentes}}"
      docentes-com-filtro="{{docentesComFiltro}}"
      areas="{{areas}}"
      cargos="{{cargos}}">
    </sapiens-docentes-data>

    <section class="page">

      <!-- Modal - Lista de Docentes -->

      <paper-card heading="Docentes">
        <div class="toolbar-main" toolbar-main>
          <paper-icon-button icon="add" on-tap="_novoDocente"></paper-icon-button>
          <paper-input value="{{termoBuscaDocentes}}" on-input="_filtrarDocentes" label="Buscar..." style="display:inline-block" no-label-float>
            <div prefix>
              <iron-icon icon="search"></iron-icon>
            </div>
          </paper-input>   
          <paper-menu-button horizontal-align="right">
            <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
            <paper-menu class="dropdown-content">
              <paper-item hidden$="{{!mostrarInativos}}" on-tap="_mostrarInativos">Esconder docentes inativos</paper-item>
              <paper-item hidden$="{{mostrarInativos}}" on-tap="_mostrarInativos">Mostrar docentes inativos</paper-item>
            </paper-menu>
          </paper-menu-button>            
        </div>                  
        <paper-datatable 
          id="dataTableDocentes" 
          data="{{docentesComFiltro}}" 
          on-row-tap="_docenteSelecionado"
          multi-selection 
          filter="{{_filtroDocentes}}">
            <paper-datatable-column header="Nome" property="nomecompleto" type="String" style="width:50%;" sortable></paper-datatable-column>
            <paper-datatable-column header="Área" property="area" type="String" style="width:50%;" sortable></paper-datatable-column>
            <paper-datatable-column header="Função" property="funcao" type="String" style="width:50%;" sortable></paper-datatable-column>
            <paper-datatable-column header="Carga H." property="carga" type="Number" style="width:50%;" sortable></paper-datatable-column>
        </paper-datatable>
      </paper-card>
      
      <!-- Modal - Inserção de um novo Docente -->

      <paper-dialog id="modalNovoDocente" modal>
        <h2><span>Novo Docente</span></h2>

        <paper-dialog-scrollable>
          <paper-input label="Nome completo" value="{{novoDocente.nomecompleto}}"></paper-input>
          <paper-input label="E-mail" value="{{novoDocente.email}}">
            <iron-icon icon="mail" prefix></iron-icon>
            <div suffix>@ifms.edu.br</div>
          </paper-input>

          <paper-dropdown-menu id="areaSelect" label="Área">
            <paper-menu class="dropdown-content" selected="{{novoDocente.area}}" attr-for-selected="value" >
              <template is="dom-repeat" items="[[areas]]" as="area">
                <paper-item value="[[area.nome]]">[[area.nome]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>

          <paper-dropdown-menu id="funcaoSelect" label="Função">
            <paper-menu class="dropdown-content" selected="{{novoDocente.funcao}}" attr-for-selected="value" >
              <template is="dom-repeat" items="[[cargos]]" as="cargo">
                <paper-item value="[[cargo.sigla]]">[[cargo.nome]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>    

        </paper-dialog-scrollable>

        <div class="buttons">
          <paper-button dialog-dismiss on-tap="_limparFormNovoDocente"><iron-icon icon="close"></iron-icon>Cancelar</paper-button>
          <paper-button dialog-confirm autofocus on-tap="_salvarDocente"><iron-icon icon="save"></iron-icon>Salvar</paper-button>
        </div>
      </paper-dialog>

      <!-- Modal - Edição de um Docente -->

      <paper-dialog id="modalEditarDocente" modal>
        <h2><span>Dados do Docente</span></h2>

        <paper-dialog-scrollable>
          <paper-input label="Nome completo" value="{{docenteSelecionado.nomecompleto}}"></paper-input>
          <paper-input label="E-mail" value="{{_emailDocente(docenteSelecionado.email)}}">
            <iron-icon icon="mail" prefix></iron-icon>
            <div suffix>@ifms.edu.br</div>
          </paper-input>

          <paper-dropdown-menu id="areaSelect" label="Área">
            <paper-menu class="dropdown-content" selected="{{docenteSelecionado.area}}" attr-for-selected="value" >
              <template is="dom-repeat" items="[[areas]]" as="area">
                <paper-item value="[[area.nome]]">[[area.nome]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>

          <paper-dropdown-menu id="funcaoSelect" label="Função">
            <paper-menu class="dropdown-content" selected="{{docenteSelecionado.funcao}}" attr-for-selected="value" >
              <template is="dom-repeat" items="[[cargos]]" as="cargo">
                <paper-item value="[[cargo.sigla]]">[[cargo.nome]]</paper-item>
              </template>
            </paper-menu>
          </paper-dropdown-menu>    

        </paper-dialog-scrollable>

        <div class="buttons">

          <paper-button dialog-dismiss hidden$="{{docenteSelecionado.inativo}}" on-tap="_desativarDocente"><iron-icon icon="lock-outline"></iron-icon>Desativar</paper-button>
          <paper-button dialog-dismiss hidden$="{{!docenteSelecionado.inativo}}" on-tap="_ativarDocente"><iron-icon icon="lock-open"></iron-icon>Ativar</paper-button>

          <paper-button dialog-dismiss on-tap="_limparFormNovoDocente"><iron-icon icon="close"></iron-icon>Cancelar</paper-button>
          <paper-button dialog-confirm autofocus on-tap="_salvarDocenteEditado"><iron-icon icon="save"></iron-icon>Salvar</paper-button>
        </div>
      </paper-dialog>

      <!-- Modal - Informações de um Docente -->

      <paper-dialog id="modalDocente" modal>
        <h2><span>Informações</span></h2>

        <paper-dialog-scrollable>
          <paper-tabs selected="{{abaSelecionada}}" scrollable fit-container>
            <paper-tab>Dados do Docente</paper-tab>
            <paper-tab>Disciplinas</paper-tab>
            <paper-tab>Planos de Ensino</paper-tab>
          </paper-tabs>

          <iron-pages selected="{{abaSelecionada}}">
            <!--  Dados do docente -->
            <section>
              <div><strong>Nome: </strong><span>[[docenteSelecionado.nomecompleto]]</span></div>
              <div><strong>Área: </strong><span>[[docenteSelecionado.area]]</span></div>
              <div><strong>Email: </strong><span>[[docenteSelecionado.email]]</span></div>
              <div><strong>Função: </strong><span>[[docenteSelecionado.funcao]]</span></div>
              <div><strong>Carga Horária: </strong><span>[[docenteSelecionado.carga]]</span> hora(s)</div>
            </section>
            <!--  Disciplinas -->
            <section>
              <paper-dropdown-menu label="Selecione o ano desejado">
                  <paper-menu class="dropdown-content" selected="{{filtroAnoDisciplinas}}" attr-for-selected="value" >
                    <paper-item value="todos">Todos</paper-item>
                    <paper-item value="2016/1">2016/1</paper-item>
                    <paper-item value="2016/2">2016/2</paper-item>
                    <paper-item value="2017/1">2017/1</paper-item>
                    <paper-item value="2017/2">2017/2</paper-item>
                    <paper-item value="2018/1">2018/1</paper-item>
                    <paper-item value="2018/2">2018/2</paper-item>
                </paper-menu>
              </paper-dropdown-menu>

              <ul>
              <template is="dom-repeat" items="[[disciplinasDocente]]" as="disciplina">
                <li><span>[[disciplina.disciplina]]</span>: <span>[[disciplina.aulas]]</span> aula(s)</li>
              </template>
              </ul>
            </section>
            <!--  Planos de Ensino -->
            <section>
              <paper-card heading="Planos de Ensino">
                <div class="toolbar-main" toolbar-main>
                  <paper-input value="{{termoBusca}}" on-input="_filtrarPlanos" label="Buscar..." style="display:inline-block" no-label-float>
                    <div prefix>
                      <iron-icon icon="search"></iron-icon>
                    </div>
                  </paper-input>                  
                </div>                  
                <paper-datatable 
                  id="dataTablePlanos" 
                  data="[[planosDocente]]" 
                  multi-selection 
                  filter="{{_filtroPlanos}}">
                    <paper-datatable-column header="Disciplina" property="disciplina" type="String" style="width:50%;" sortable></paper-datatable-column>
                    <paper-datatable-column header="Curso" property="curso" type="String" style="width:50%;" sortable></paper-datatable-column>
                    <paper-datatable-column header="Turma" property="turma" type="String" style="width:50%;" sortable></paper-datatable-column>
                    <paper-datatable-column header="Ano" property="ano" type="String" style="width:50%;" sortable></paper-datatable-column>
                    <paper-datatable-column header="Status" property="status" type="String" style="width:50%;" sortable></paper-datatable-column>
                </paper-datatable>
              </paper-card>
            </section>
          </iron-pages>
        </paper-dialog-scrollable>

        <div class="buttons">
          <div hidden$="{{!app.master}}">
            <paper-button on-tap="_removerDocente" dialog-confirm><iron-icon icon="delete"></iron-icon>excluir</paper-button>
            <paper-button on-tap="_editarDocente" dialog-confirm><iron-icon icon="create"></iron-icon>editar</paper-button>
          </div>
          <paper-button on-tap="_deselecionarDocente" dialog-confirm autofocus>fechar</paper-button>
        </div>
      </paper-dialog>
    </section>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'sapiens-docentes',

      properties: {
        docentes: {
          type: Array,
          notify: true,
          observer: '_docentesChanged'
        },

        docentesComFiltro: {
          type: Array,
          value: [],
          notify: true
        },

        areas: {
          type: Object,
          notify: true
        },

        cargos: {
          type: Object,
          notify: true
        },

        docenteSelecionado: {
          type: Object,
          notify: true,
          observer: '_docenteSelecionadoChanged'
        },

        abaSelecionada: {
          type: Number,
          value: 0,
          notify: true
        },

        filtroAnoDisciplinas: {
          type: String,
          value: 'todos',
          notify: true
        },

        termoBuscaDocentes: {
          type: String,
          value: '',
          notify: true
        },

        termoBusca: {
          type: String,
          value: '',
          notify: true
        },

        novoDocente: {
          type: Object,
          value: {},
          notify: true
        },

        mostrarInativos: {
          type: Boolean,
          value: true,
          notify: true
        }
      },

      observers: [
        '_filtroAnoDisciplinasChanged(filtroAnoDisciplinas)'
      ],

      _mostrarInativos: function(){
        this.mostrarInativos = !this.mostrarInativos;

        if (this.mostrarInativos){
          this.docentesComFiltro = this.docentes;
        }else{
          this.docentesComFiltro = this.docentes.filter(function(docente){
            return !docente.inativo;
          });
        }
      },

      _emailDocente: function(email){
        if (email) {
          return email.split('@')[0];  
        }
      },

      _limparFormNovoDocente: function(){
        this.set('novoDocente', {});
        this.$.areaSelect._setSelectedItem(null);
        this.$.funcaoSelect._setSelectedItem(null);
      },

      _editarDocente: function(evt){
        this.$.modalEditarDocente.open();
      },

      _desativarDocente: function(evt){
        this.set('docenteSelecionado.inativo', true);

        var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');
        refServidores.child(this.docenteSelecionado.key).set(this.docenteSelecionado);
      },

      _ativarDocente: function(evt){
        this.set('docenteSelecionado.inativo', false);
        
        var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');
        refServidores.child(this.docenteSelecionado.key).set(this.docenteSelecionado);
      },

      _salvarDocenteEditado: function(evt){
        var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');
        refServidores.child(this.docenteSelecionado.key).set(this.docenteSelecionado);
      },

      _salvarDocente: function(evt){
        var docente = this.novoDocente;
        var docenteNomeSplited = docente.nomecompleto.trim().split(' ');
        var key = docenteNomeSplited[0].toLowerCase() + '-' + docenteNomeSplited[docenteNomeSplited.length - 1].toLowerCase();

        docente.email += '@ifms.edu.br';
        docente[docente.funcao.toLowerCase()] = true;
        docente.nome = docente.nomecompleto.split(' ')[0];
        docente.key = key;

        if (docente.funcao === 'PEDAG'){
          docente.pedag = true;
        } else {
          docente.docente = true;
        }

        var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');

        refServidores.child(key).set(docente);

        app.$.toast.text = 'Docente cadastrado com sucesso';
        app.$.toast.show();

        this._limparFormNovoDocente();
      },

      _removerDocente: function(evt){
        if(app.user.master){
          var refServidores = new Firebase('https://blazing-inferno-2038.firebaseio.com/servidores');

          refServidores.child(this.docenteSelecionado.key).remove();  
        } else {
          app.$.toast.text = 'Você não tem previlégios suficientes para excluir um docente';
          app.$.toast.show();
        }        
      },

      _filtrarPlanos: function(){
        this.$.dataTablePlanos.reload();
      },

      _filtrarDocentes: function(){
        this.$.dataTableDocentes.reload();
      },

      _filtroAnoDisciplinasChanged: function(ano){
        if (this.docenteSelecionado){
          var disciplinasDocente = [];

          if (ano === 'todos'){

            this.set('disciplinasDocente', this.docenteSelecionado.disciplinas);
          }else {
            disciplinasDocente = this.docenteSelecionado.disciplinas.filter(function(disciplina){
              return disciplina.turma.ano === ano;
            });

            this.set('disciplinasDocente', disciplinasDocente);
          }  
        }        
      },

      _novoDocente: function(){
        this.$.modalNovoDocente.open();
      },

      _docenteSelecionadoChanged: function(docente){
        this.set('abaSelecionada', 0);
        this.set('filtroAnoDisciplinas', 'todos');
        this.set('filtroDocentes', '');

        this.$.modalDocente.open();
      },

      _deselecionarDocente: function(evt){
        this.set('docenteSelecionado', {});
        this.set('planosDocente', []);
      },

      _docenteSelecionado: function(evt, obj){
        var docenteSelecionado = obj.item;
        var self = this;  

        this.docentes.forEach(function(docente){
          if(docente.nomecompleto === docenteSelecionado.nomecompleto){
            
            var refUsers = new Firebase('https://blazing-inferno-2038.firebaseio.com/users');
            var refPlanos = new Firebase('https://blazing-inferno-2038.firebaseio.com/planos');
            
            refUsers.child(docente.key).on('value', function(userSnapshot){
              if (userSnapshot.exists()){
                docente.foto = userSnapshot.val().google.profileImageURL;                
              }         

              refPlanos.orderByChild('docente').equalTo(docente.key).on('value', function(snaphotPlanos){
                if (snaphotPlanos.exists()){
                  docente.planos = snaphotPlanos.val().toArray();      

                  docente.planos.forEach(function(plano, i){
                    docente.disciplinas.forEach(function(disciplina){
                      if (plano.disciplina === disciplina.key){
                        docente.planos[i].disciplina = disciplina.disciplina;
                        docente.planos[i].curso = disciplina.turma.curso.nome;
                        docente.planos[i].ano = disciplina.turma.ano;
                        docente.planos[i].turma = disciplina.turma.nome;
                        docente.planos[i].periodo = disciplina.turma.periodo;
                      }
                    });
                  });    

                  self.set('planosDocente', docente.planos);                         
                }
              })     
            });

            self.set('docenteSelecionado', docente);
            self.set('disciplinasDocente', docente.disciplinas);
            
          }
        });
      },
      
      _docentesChanged: function(n, old){
        var tableData = [];

        this.docentes.forEach(function(docente){
          tableData.push({
            nome: docente.nomecompleto,
            area: docente.area,
            carga: Math.ceil(docente.carga)
          });
        });

        this.tableData = tableData;
      },

      ready: function(){
        this.columns = [
          {
            title: 'Nome',
            number: false,
            column: 'nome',
            hidden: false
          },

          {
            title: 'Área',
            number: false,
            column: 'area',
            hidden: false
          },          

          {
            title: 'CH',
            number: true,
            column: 'carga',
            formatter: function(value){
              return ~~value;
            },
            hidden: false
          }
        ];

        var self = this;

        function filtrar(termo, item, condicoes){
          var termoBusca = termo.toLowerCase();

          if (termoBusca === ''){
            return true;
          } else {
            for (var key in condicoes){
              if (item[condicoes[key]]){
                if (item[condicoes[key]].toLowerCase().indexOf(termoBusca) !== -1){
                  return true;
                }
              }
            }     

            return false;
          }

          return true;
        }

        this._filtroDocentes = function(item, key, items){
          var termoBusca = document.querySelector('sapiens-docentes').termoBuscaDocentes.replace(/ /g, '');
          var condicoesEspeciais = ['>=', '>', '<=', '<', '='];

          for (var i = 0; i < condicoesEspeciais.length; i+=1){
            var condicao = condicoesEspeciais[i];

            if (termoBusca.indexOf(condicao) !== -1){
              var carga = item.carga ? +item.carga : 0;

              switch(condicao){
                case '>':  return carga >  +termoBusca.slice(termoBusca.indexOf(condicao) + 1);
                case '>=': return carga >= +termoBusca.slice(termoBusca.indexOf(condicao) + 2);
                case '<':  return carga <  +termoBusca.slice(termoBusca.indexOf(condicao) + 1);
                case '<=': return carga <= +termoBusca.slice(termoBusca.indexOf(condicao) + 2);
                case '=':  return carga == +termoBusca.slice(termoBusca.indexOf(condicao) + 1);
              }
            } 
          }

          return filtrar(termoBusca, item, ['area', 'funcao', 'nomecompleto']);
        };

        this._filtroPlanos = function(item, key, items){
          var termoBusca = document.querySelector('sapiens-docentes').termoBusca;
          
          return filtrar(termoBusca, item, ['disciplina', 'curso', 'turma', 'ano', 'status']); 
        };
      }
    });
  })();
  </script>
</dom-module>
